

{% load custom_filters %}


{% for key, value in carrito.items %}
    <div class="cart-item mb-3">
        <img src="{{value.image}}" alt="Product Image">

        <div class="cart-item-info">
            <div class="cart-span-cont"> 
                <span> {{ value.name }} </span>
                <span> {{ value.qty }} × ${{ value.price|intdot }} = ${{ value.price|multiply:value.qty }} </span>

                <!-- Botón de eliminar en la esquina superior derecha -->
                <button class="btn cart-btn-remove-item" data-index="{{ value.id }}">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <!-- Contador y botón de eliminar -->
            <div class="cart-item-conts">
                <button class="btn cart-item-btn-minus" data-index="{{ value.id }}">
                    <i class="fa-solid fa-minus"></i>
                </button>
                
                <span class="cart-item-qty">
                    {{value.qty}}
                </span>

                <button class="btn cart-item-btn-plus" data-index="{{value.id}}">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
{% endfor %}