

{% extends "home/base.html" %}

{% load static %}
{% load custom_filters %}


{% block extra_head %}

    <title>Cart View</title>
    <link href="{% static 'cart/css/cart_page_detail.css' %}" rel="stylesheet">

{% endblock extra_head %}
    

{% block main_content %}

<!-- Primera fila -->
<div class="d-flex mt-3 mb-3 gap-1">
    <!-- top buttons -->
    <a class="btn btn-paralelogramo" href="{% url 'Home' %}">
        <span class="text-normal"> Home </span>
    </a>

    <button class="btn btn-paralelogramo">
        <span class="text-normal"> Mi Carrito </span>
    </button>
</div>


<div class="cont-page">

    <!-- Primera Columna -->
    <div>
        
        <!-- Container cart table -->
        <div class="cart-view-container cont-border" id="cart-view-container">
            {% include "cart/table_cart_detail.html" %}
        </div>
        
        <!-- Container cupon stuff -->
        <form class="container-coupon mt-4 mb-5">
            <input type="text" class="form-control" name="" placeholder="Have a coupon?">

            <button class="btn btn-main btn-coupon" type="submit">
                <b class="text-lil-small">Aplicar</b>
            </button>
        </form>
    </div>


    <!-- Segunda Columna -->
    <div>
        <div class="cart-view-container-col-2 cont-border"> 
            <div class="container-space-between mt-1 mb-2">
                <b class="text-small">Total:</b>
                <b class="text-small" id="total-cart-view">
                    $ {{ total_price|intdot }}
                </b>
            </div>

            <div class="container-space-between mb-2">
                <b class="text-discount">Discount:</b>

                <div class="d-flex gap-1">
                    <b><i class="ri-subtract-fill text-discount"></i></b>
                    <b class="text-discount">$ 0</b>
                </div>
            </div>

            <hr class="mb-2">

            <div class="container-space-between mb-2">
                <b class="text-small">Total:</b>
                <b class="text-small" id="total-cart-view2">$ {{ total_price|intdot }}</b>
            </div>

            <button class="btn btn-main justify-center w-100 mb-1" href="{% url 'order' %}">
                <b class="text-lil-small">Finalizar Compra</b>
            </button>
        </div>
    </div>

</div>

{% endblock main_content %}


{% block extra_scripts %}
    <!-- JavaScript for Product Page -->
    <script src="{% static 'products/js/products_utils.js' %}"></script>
    <script src="{% static 'cart/js/cart_page_detail.js' %}"></script>
{% endblock extra_scripts %}