

{% load static %}
{% load custom_filters %}

{% if carrito.items %}
  
    <div class="cart-view-header">
        <div></div>
        <div><b>Product</b></div>
        <div><b>Price</b></div>
        <div><b>Quantity</b></div>
        <div><b>Subtotal</b></div>
        <div></div>
    </div>

    {% for key, value in carrito.items %}
        <div class="cart-row {% if forloop.last %} not-border-bottom {% endif %}">
            <!-- Imagen del producto -->
            <div class="image-container" data-url="{% url 'product_detail' value.id None %}">
                <img src="{{ value.image }}" alt="{{ value.name }}">
            </div>

            <!-- Nombre del producto -->
            <div class="justify-start mt-1">
                <a href="#" class="text-primary text-lil-small">
                    <b>{{ value.name }}</b>
                </a>
            </div>

            <!-- Precio -->
            <div class="justify-start mt-1">
                <b class="d-lg-block text-lil-small">$ {{ value.price|intdot }}</b>

                <div class="d-flex d-md-block text-lil-small">
                    <b>$ {{ value.price|intdot }}</b>
                    <i class="ri-close-line"></i>
                    <b>{{ value.qty }}</b>
                    <i class="ri-equal-line"></i>
                </div>
            </div>

            <div class="justify-start mt-1">
                <!-- Contador -->
                <div class="product-container-conts d-flex gap-1">
                    <button type="button" class="btn cart-view-minus" data-index="{{value.id}}">
                        <i class="ri-subtract-fill icon-small"></i>
                    </button>

                    <input type="text" class="cart-view-input-qty" 
                    id="cart-view-input-qty" value="{{value.qty}}" min="1" readonly>

                    <button type="button" class="btn cart-view-plus" data-index="{{value.id}}">
                        <i class="ri-add-fill icon-small"></i>
                    </button>
                </div>
            </div>

            <!-- Subtotal -->
            <div class="justify-start mt-1">
                <b class="text-lil-small">$ {{ value.price|multiply:value.qty }}</b>
            </div>

            <!-- Botones de acción -->
            <div class="justify-start d-flex-col mt-1 gap-1">
                <!-- Botón de la corazon -->
                {% if value.id in favorite_product_ids %}
                    <button class="btn btn-like liked" data-index="{{value.id}}">
                        <i class="ri-heart-fill icon-medium"></i>
                    </button>
                {% else %}
                    <button class="btn btn-like" data-index="{{value.id}}">
                        <i class="ri-heart-line icon-medium"></i>
                    </button>
                {% endif %}


                <button class="btn cart-view-btn-delete" data-index="{{value.id}}">
                    <i class="ri-close-fill icon-medium"></i>
                </button>
            </div>
        </div>
    {% endfor %}

{% else %}
    
    <div class="d-flex-col justify-center mt-2">
        <h1>Tu carrito esta vacío</h1>
        <div class="w-100 justify-center">
            <img src="{% static 'img/cart-view.png' %}" alt="Cartt">
        </div>
    </div>

    <a class="btn btn-main w-50" href="{% url 'product_list' %}">
        <b>Ver todos nuestros productos.</b>
    </a>

{% endif %}