

{% load custom_filters %}

<button class="btn btn-header" id="cart-button" aria-label="Cart">
    <i class="fas fa-shopping-cart" id="cart-button"></i>
    <!-- Badge para mostrar el número de productos -->
    <span class="badge position-absolute top-0 start-100 translate-middle" id="badge-cart-button">
        {{ total_items }}
    </span>
</button>


<div class="cart-container" id="cart-container">

    <!-- Encabezado del carrito -->
    <div class="cart-header p-3">
        <h5 class="mt-1"><strong>Mi Carrito</strong></h5>
        <button class="btn" id="close-cart">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <!-- Contenido del carrito -->
    <div class="cart-content" id="cart-content">
        {% include 'cart/cart_items.html' %}
    </div>

    <!-- Pie del carrito -->
    <div class="cart-footer">
        <div class="d-flex justify-content-between align-items-center p-3">
            <h4>Total:</h4>
            <h4 id="carrito-total">${{ total_price|intdot }}</h4>
        </div>

        <div class="d-flex justify-content-center align-items-center gap-3">
            <a class="foot-wdt-cart btn-ver-carrito" href="{% url 'Ver_Carrito' %}">
                Ver Carrito
            </a>
            <a class="foot-wdt-cart btn-finalizar" href="#">
                Finalizar
            </a>
        </div>
    </div>


</div>

<div class="overlay" id="overlay"></div>

