<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    {% load static %}

    <!-- Preconnect and Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- Favicon tradicional de 16x16 píxeles -->
    <link rel="icon" href="{% static 'img/ico/favicon.ico' %}" type="image/x-icon">
    <!-- Favicon principal, tamaño recomendado de 32x32 píxeles -->
    <link rel="icon" href="{% static 'img/ico/favicon-32x32.png' %}" sizes="32x32" type="image/png">
    <!-- Icono para dispositivos Apple -->
    <link rel="apple-touch-icon" href="{% static 'img/ico/apple-touch-icon.png' %}">
    <!-- Iconos para Android y pantallas de alta resolución -->
    <link rel="icon" sizes="192x192" href="{% static 'img/ico/android-chrome-192x192.png' %}">
    <link rel="icon" sizes="512x512" href="{% static 'img/ico/android-chrome-512x512.png' %}">
    <!-- Agregar el manifiesto de la PWA -->
    <link rel="manifest" href="{% static 'img/ico/site.webmanifest' %}">

    <!-- Fonts - Para mostrar algunos iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Optional: Your custom styles -->
    <link href="{% static 'home/css/base.css' %}" rel="stylesheet"> 
    
    
    <!-- For More CSS Modules -->
    {% block extra_head %}
        <title> Base Project HTML </title>
        
        <!-- Cargar CSS o meta tags específicos de la página aquí -->
    {% endblock %}
</head>


<body>
    <header>
        <!-- Combined Navbar for Small Screens -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex d-lg-none">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'Home' %}">
                    <img src="{% static 'img/ico/logo.jpg' %}" alt="Logo">
                </a>
                <!-- Toggler Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#combinedNavbar" aria-controls="combinedNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar Content -->
                <div class="collapse navbar-collapse" id="combinedNavbar">
                    <form class="d-flex my-2">
                        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="smallNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="smallNavbarDropdown">
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">SEO Optimization</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Consulting</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Optimized Top Navbar -->
        <nav class="navbar navbar-expand-lg d-none d-lg-flex my-main-navbar-bg" id="TopNavBar">
            <div class="container-fluid my-container-page px-5">

                <!-- Logo -->
                <div class="col-3 col-lg-3"> 
                    <a class="navbar-brand" href="{% url 'Home' %}">
                        <img src="{% static 'img/ico/logo.jpg' %}" id="logo_home" alt="Logo" width="150">
                    </a>
                </div>

                <!-- Search Bar -->
                <div class="col-6 col-lg-6"> 
                    <form class="my-search-top-bar" action="{% url 'product_top_search' %}" method="GET">
                        
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Buscar..." 
                            name="top_q" aria-label="Search">
                               
                            <button class="btn" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                
                <!-- Social Media Icons -->
                <div class="d-flex col-3 col-lg-3 gap-2 justify-content-end">
                    <a class="btn btn-header-icon" href="{{store.tt_url}}" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-header-icon" href="{{store.fb_url}}" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-header-icon" href="{{store.ig_url}}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-header-icon" href="{{store.google_url}}" target="_blank">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </div>
        </nav>

        <!-- Original Main Navbar   -->
        <nav class="navbar navbar-expand-lg my-main-navbar-bg d-none d-lg-flex">
            <div class="container-fluid my-container-page px-5">
                <!-- Toggler Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#MainNavBar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <!-- Navbar Links -->
                <div class="collapse navbar-collapse" id="MainNavBar">
                    <ul class="navbar-nav w-100 d-flex align-items-center">

                        <!-- Dropdown de productos -->
                        <li class="nav-item dropdown col-3 col-lg-3">
                            {% include "productos/dropmenu_categories.html" %}
                        </li>
                        
                        <!-- Links principales -->
                        <li class="nav-item col-6 col-md-6">
                            <ul class="navbar-nav d-flex gap-2 justify-content-start">
                                <li class="nav-item nav-item-link-mainbar">
                                    <a class="nav-link" href="#">Contacto</a>
                                </li>
                                <li class="nav-item nav-item-link-mainbar">
                                    <a class="nav-link" href="#">Ofertas</a>
                                </li>
                                <li class="nav-item nav-item-link-mainbar">
                                    <a class="nav-link" href="#">Mis Pedidos</a>
                                </li>
                                <li class="nav-item nav-item-link-mainbar">
                                    <a class="nav-link" href="#">Arma tu PC</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Botones de carrito y usuario -->
                        <li class="nav-item col-lg-3">
                            <ul class="navbar-nav d-flex gap-4 justify-content-end">

                                <!-- boton dark - mode -->
                                <li class="nav-item">
                                    <button class="btn btn-header" id="themeToggle">
                                        <i id="theme-icon" class="fas fa-moon"></i>
                                    </button>
                                </li>
                                
                                <!-- Botón del carrito -->
                                <li class="nav-item">
                                    {% include "cart/widget_carrito.html" %}
                                </li>
                            
                                <!-- Botón y dropdown del usuario -->
                                <li class="nav-item dropdown">
                                    {% include "users/widget_login.html" %}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="container-fluid my-container-page px-5">
            {% block content %}
                <!-- Contenido específico de la página -->
            {% endblock %}
        </div>

        <!-- Alerts -->
        <div class="custom-alert" id="alertBox">
            <i class="fa-regular fa-circle-check"></i>
            <span class="alert-message">Som Span!</span>
            <button onclick="closeAlert()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

    </main>

    <!-- FOOTER -->   
    <hr class="offset-1 col-10">    
    <footer>
        <div class="container-fluid my-container-page px-5">
            <div class="row">
                <!-- Primera columna: Logo + Texto de la compañía -->
                <div class="mt-5 col-4">
                    <a href="{% url 'Home' %}">
                        <img src="{% static 'img/ico/logo.jpg' %}" alt="Company Logo" 
                        class="footer-logo">
                    </a>

                    <p class="mt-3">
                        ¡Tu cueva Gamer en Córdoba! 🎮
                    </p>
                    <p>
                        Somos la tienda de computación y videojuegos que hacía falta en Córdoba.
                        Nacida con el propósito de satisfacer a todo jugador PC Gamer, Playstation, Nintendo y Xbox
                    </p>
                    <p>
                        Grandes marcas nos acompañan como Asus, Corsair, Hyperx, Gigabyte, Logitech,
                        Samsung o Redragon entre otras.
                    </p>
    
                    <h3><strong>Additional Information! </strong></h3>

                    <button class="mb-3 btn-footer">
                        <i class="fa fa-map-marker-alt"></i>
                        <p>{{store.address}}, Córdoba, Argentina.</p>
                    </button>

                    <button class="mb-3 btn-footer">
                        <i class="fab fa-whatsapp icon"></i>
                        <p>{{store.cellphone}}</p>
                    </button>

                    <button class="mb-3 btn-footer">
                        <i class="fa fa-clock"></i>
                        <div class="text-container">
                            <p>Lunes a Viernes de 10hs a 14hs y de 15hs a 18:50hs.</p>
                            <p>Sábado mediodía.</p>
                        </div>
                    </button>

                    <button class="mb-3 btn-footer">
                        <i class="fa fa-envelope"></i>
                        <p>{{store.email}}</p>
                    </button>

                </div>

                <!-- Tercera columna: Vacía para personalización futura -->
                <div class="mt-5 col-3">
                    <h3 class="ms-3">Seguinos!</h3>
                    <!-- Icon Container -->
                    <div class="icon-container-footer">
                        <a href="{{store.tt_url}}" class="btn" target="_blank">
                            <i class="fab fa-tiktok icon"></i>
                        </a>
                        <a href="{{store.fb_url}}" class="btn" target="_blank">
                            <i class="fab fa-facebook icon"></i>
                        </a>
                        <a href="{{store.ig_url}}" class="btn" target="_blank">
                            <i class="fab fa-instagram icon"></i>
                        </a>
                        <a href="{{store.google_url}}" class="btn" target="_blank">
                            <i class="fab fa-google icon"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        
        <hr class="offset-1 col-10">
        <div class="row"> 
            <strong class="mt-1 mb-3 offset-1 col-10">
                © 2024 Ecommerce Generic. All rights reserved.
            </strong>
        </div>
    </footer>
    
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    
    <script src="{% static 'home/js/base.js' %}"></script>

    <!-- JavaScript for Carrito Widget -->
    <script src="{% static 'cart/js/widget_carrito.js' %}"></script>
    
    <!-- JavaScript for users Widget -->
    <script src="{% static 'users/js/widget_register.js' %}"></script>
    
    <!-- Optional: Your custom scripts -->
    {% block extra_scripts %}
        <!-- Cargas archivos .js propios de cada template/vista esto es util ya que se cargan despues
         de los scripts de la base dejando a funciones de los mismos como globales-->
    {% endblock %}

</body>
</html>
