<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, 
    maximum-scale=1.0, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">	
	
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     
    , 
    interactive-widget=resizes-content -->

    {% load static %}

    <!-- Preconnect and Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Page icons for different devices -->
    <link rel="shortcut icon" href="{% static 'img/ico/favicon-16x16.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/ico/favicon-32x32.png' %}" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'img/ico/apple-touch-icon.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'img/ico/android-chrome-192x192.png' %}">
    <link rel="icon" sizes="512x512" href="{% static 'img/ico/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{% static 'img/ico/site.webmanifest' %}">


    <!-- Fonts - Para mostrar algunos iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- REMIXICONS search icons in: https://remixicon.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">

    <!-- Bootstrap CSS 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    -->

    <!-- Optional: Your custom styles -->
    <link href="{% static 'home/css/basic.css' %}" rel="stylesheet"> 
    <link href="{% static 'home/css/base.css' %}" rel="stylesheet"> 
    <link href="{% static 'home/css/base_navbar.css' %}" rel="stylesheet"> 

    <link href="{% static 'users/css/widget_login.css' %}" rel="stylesheet"> 
    <link href="{% static 'cart/css/widget_cart.css' %}" rel="stylesheet"> 
    
    <!-- For More CSS Modules -->
    {% block extra_head %}
        <title> Base Project HTML </title>
        
        <!-- Load page-specific CSS or meta tags here -->
    {% endblock %}
</head>

<body>

    <!-- HEADER -->
    <header>
        <!--  NAV MOBILE  -->
        <nav class="mobile-nav container-page gap-1">
            {% include 'home/mobile_nav.html' %}
        </nav>

        <!-- 
            Top nav bar ( logo - search - social icons ) 
        -->
        <nav class="top-nav container-page" id="top-nav">

            <!-- Logo -->
            <div class="first-col"> 
                <a href="{% url 'Home' %}" class="w-100 h-100">
                    <img src="{% static 'img/ico/logo.jpg' %}" class="logo" alt="logo">
                </a>
            </div>

            <!-- Search Bar -->
            <div class="second-col justify-center">
                <form class="top-bar-search container-space-between" 
                action="{% url 'product_top_search' %}" method="GET">
    
                    <input type="text" placeholder="Buscar..." 
                    name="topQuery" aria-label="Search">
                        
                    <button class="btn" type="submit">
                        <i class="ri-search-line icon-small"></i>
                    </button>
                </form>
            </div>
            

            <!--  Iconos -->
            <div class="third-col d-flex justify-end gap-3">
                <a href="{{ store.google_url }}" target="_blank" class="text-white nav__social-link">
                    <i class="ri-whatsapp-line icon-medium"></i>
                </a>

                <a href="{{ store.ig_url }}" target="_blank" class="text-white nav__social-link">
                    <i class="ri-instagram-line icon-medium"></i>
                </a>

                <a href="{{ store.tt_url }}" target="_blank" class="text-white nav__social-link">
                    <i class="ri-tiktok-fill icon-medium"></i>
                </a>

                <a href="{{ store.fb_url }}" target="_blank" class="text-white nav__social-link">
                    <i class="ri-facebook-box-fill icon-medium"></i>
                </a>
            </div>
        </nav>


        <!-- Main nav bar ( categories - list links - register icon ) -->
        <nav class="main-nav" id="main-nav">
            <div class="container-page">
                <ul class="d-flex w-100 h-100" id="main-nav-list">

                    <!-- to pass image url to the script -->
                    <li class="d-none" id="logo-url" data-img="{% static 'img/ico/logo.jpg' %}"
                    data-url="{% url 'Home'%}"></li>
                    
                    <!-- drop down menu - hoods -->
                    <li class="first-col dropdown justify-start">
                        <div class="w-100">
                            {% include "products/dropmenu_categories.html" %}
                        </div>
                    </li>

                    <!-- list useful links -->
                    <li class="second-col justify-start"> 
                        <ul class="nav__list justify-start gap-3">
                            <li class="nav__item">
                                <a href="{% url 'Home' %}" class="nav__link">
                                    <span>Home</span>
                                </a>
                            </li>

                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    <span>About Us</span>
                                </a>
                            </li>
                    
                            <li class="nav__item">
                                <a href="{% url 'help_mp' %}" class="nav__link">
                                    <span>Contact</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- icons sections-->
                    <li class="third-col d-flex justify-end gap-2">

                        <!-- Icon Dark mode -->
                        <button class="theme-toggle btn btn-main-nav">
                            <i class="theme-icon ri-moon-line icon-medium"></i>
                        </button>
            
                        <!-- Icon Cart Overlay -->
                        <button class="btn btn-main-nav cart-button" aria-expanded="false"">
                            <i class="ri-shopping-cart-2-line icon-medium"></i>
                            
                            <!-- Badge para mostrar el número de productos -->
                            <span class="cart-badge" id="badge-cart-button">
                                {{   total_items  }}
                            </span>
                        </button>
                        {% include "cart/widget_cart.html" %}
            
                        <!-- Icon user login -->
                        <button class="btn btn-main-nav user-button" aria-expanded="false">
                            <i class="ri-user-3-line icon-medium"></i>
                        </button>
                        {% include "users/widget_login.html" %}
                        
                    </li>
                </ul>
            </div>
        </nav>
   </header>


    <main>
        <!-- To place banners without the page limit -->
        {% block top_banner_image %}
          
        {% endblock top_banner_image %}

        <!-- we limit the page container to the main content. -->
        <div class="container-page"> 

            <!-- 		 
            <button class="btn btn-main" onclick="forceReload()">Recargar sin caché</button>
            -->
            {% block main_content %}
        
            {% endblock main_content %}

        </div>

        <!-- Contenedor de Alertas -->
        <div class="alerts-container" id="alerts-container" data-state="closed">
            <!-- efecto de span de alertas ( ver base.js )-->
        </div>
    </main>
    
    <!-- To place banners without the page limit -->
    {% block bot_banner_image %}
          
    {% endblock bot_banner_image %}


    <!-- FOOTER -->   
    <hr class="offset-1 col-10"> 

    <footer>
        <div class="container-page footer-container">
            <div class="footer-col">
                <!-- Primera columna: Logo + Texto de la compañía -->
                <a class="w-100" href="{% url 'Home' %}">
                    <img src="{% static 'img/ico/logo.jpg' %}" alt="Company Logo" 
                    class="footer-logo">
                </a>

                <div class="mt-3 mb-3">
                    <h2 class="footer-text"> {{ store.name }} </h2>

                    <p class="footer-text">
                        ¡Tu cueva Gamer en Córdoba! 🎮
                    </p>
                    <p class="footer-text">
                        Somos la tienda de computación y videojuegos que hacía falta en Córdoba.
                        Nacida con el propósito de satisfacer a todo jugador PC Gamer, Playstation, 
                        Nintendo y Xbox.
                    </p>
                    <p class="footer-text">
                        Grandes marcas nos acompañan como Asus, Corsair, Hyperx, Gigabyte, Logitech,
                        Samsung o Redragon entre otras.
                    </p>
                </div>


                <h3 class="mt-3 mb-3"> Additional Information! </h3>

                
                
                <p class="footer-text d-flex gap-2">
                    <i class="ri-map-pin-line icon-medium"></i>
                    <span>{{store.address}}, Córdoba, Argentina.</span>
                </p>

                <p class="footer-text d-flex gap-2">
                    <i class="ri-whatsapp-line icon-medium"></i>
                    <span>{{store.cellphone}}</span>
                </p>

                <div class="footer-text d-flex gap-2">
                    <i class="ri-time-line icon-medium"></i>
                    <div>
                        <p class="footer-text">
                            Lunes a Viernes de 10hs a 14hs y de 15hs a 18:50hs.
                        </p>
                        <p class="footer-text">Sábado mediodía.</p>
                    </div>
                </div>

                <p class="footer-text d-flex gap-2">
                    <i class="ri-mail-line icon-medium"></i>
                    <span>{{store.email}}</span>
                </p>
            </div>

            <div class="footer-col">
                <h3 class="footer-text">Columna 2</h3>
                <p class="footer-text">Más contenido...</p>
            </div>

            <div class="footer-col">
                <!-- Tercera columna: Vacía para personalización futura -->
                <h2 class="footer-text">Seguinos!</h2>

                <!-- Icon Container -->
                <div class="footer-text d-flex gap-3">
                    <a href="{{store.tt_url}}" class="nav__social-link" target="_blank">
                        <i class="ri-tiktok-fill icon-xl"></i>
                    </a>
                    <a href="{{store.fb_url}}" class="nav__social-link" target="_blank">
                        <i class="ri-facebook-box-fill icon-xl"></i>
                    </a>
                    <a href="{{store.ig_url}}" class="nav__social-link" target="_blank">
                        <i class="ri-instagram-line icon-xl"></i>
                    </a>
                    <a href="{{store.google_url}}" class="nav__social-link" target="_blank">
                        <i class="ri-google-fill icon-xl"></i>
                    </a>
                </div>
            </div>
        </div>
        

        <hr class="mt-3">

        <div class="container-page mt-4"> 
            <strong> © 2024 Ecommerce Generic. All rights reserved. </strong>
        </div>
    </footer>
    

    <!--  BUTTON ARROW BACK DESKTOP-->
    <button id="backToTop" class="back-to-top d-lg-block">
        <i class="ri-arrow-up-line icon-medium"></i>
        <svg class="progress" width="40" height="40">
            <circle cx="20" cy="20" r="18" />
        </svg>
    </button>

    <!-- Botón flotante -->
    <div class="btn floating-wsp-btn" id="floating-wsp-btn"
        data-icon-active="ri-whatsapp-line" 
        data-icon-inactive="ri-close-fill">
        <i class="ri-whatsapp-line icon-xl" data-icon></i>
    </div>

    <!-- Menú flotante -->
    <div class="floating-wsp-menu" id="floating-wsp-menu">

        <div class="d-flex gap-2 cont-wsp-float">
            <i class="ri-whatsapp-line icon-xl"></i>
            <div class="d-flex-col gap-1">
                <b class="justify-start text-medium">Hola!</b>
                <p class="justify-start text-lil-small">¿En que podemos ayudarte?</p>
            </div>
        </div>

        <div class="d-flex-col gap-1 cont-wsp-float-white">

            <p class="justify-start text-lil-small gray">Nuestro equipo responde en pocos minutos.</p>

            <a href="#" target="_blank" class="container-space-between whatsapp-button"
            id="wsp-link" data-wsp="{{store.wsp_number}}">

                <div class="d-flex gap-2">
                    <img src="https://img.freepik.com/vector-gratis/plantilla-diseno-logotipo-gato_23-2150414628.jpg" alt="">
                
                    <div class="d-flex-col gap-1">
                        <b class="text-lil-small justify-start">{{store.name}}</b>
                        <span class="text-lil-small justify-start gray">{{store.cellphone}}</span>
                        <span class="bold-orange text-lil-small justify-start">10hs a 18:30hs.</span>
                    </div>
                </div>

                <i class="ri-whatsapp-line icon-xl"></i>
            </a>
        </div>

    </div>

    <!-- Almacena el estado de autenticación en un div oculto -->
    <div id="auth-status" data-register-user="{{ user.is_authenticated|lower }}" hidden></div>


    <!-- Bootstrap Bundle with Popper 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    -->
    
    <script src="{% static 'home/js/base.js' %}"></script>
    <script src="{% static 'home/js/base_navbar.js' %}"></script>

    <!-- JavaScript for Carrito Widget -->
    <script src="{% static 'cart/js/widget_cart.js' %}"></script>
    
    <!-- JavaScript for users Widget -->
    <script src="{% static 'users/js/widget_login.js' %}"></script>
    
    <!-- Optional: Your custom scripts -->
    {% block extra_scripts %}
        <!-- You load your own .js files for each template/view, this is useful since they are 
        loaded later of the base scripts leaving their functions as global -->
    {% endblock extra_scripts %}


</body>
</html>
