{% extends "home/base.html" %}

{% load static %}



<!-- For More CSS Modules -->
{% block extra_head %}

    <title> Home </title>

    <!-- <link href="{ % static 'home/css/base.css' % }" rel="stylesheet">  -->
        
{% endblock %}


<!-- Content -->
{% block content %}




    <h1 class=""> ID USER: {{ user.id }} </h1>
    <h1 class="mt-5  px-5"> </h1>


    <a class="btn-paralelogramo" href="{% url 'reset_stocks' %}"> Reset stock Reservers </a>
    
    

{% endblock %}



<!-- Cargas archivos .js propios de cada template/vista -->
{% block extra_scripts %}
    
{% endblock %}