{% extends "home/base.html" %}

{% load static %}



<!-- For More CSS Modules -->
{% block extra_head %}

    <title> Home </title>
        
{% endblock %}


<!-- Content -->
{% block content %}


    <h1 class=""> Hola xD </h1>
    <h1 class="mt-5  px-5"> Hola xD </h1>
    
    <ul>
        {% for category, subcategories in categories_dropmenu.items %}
            <li>
                <a class="d-flex justify-content-between align-content-center" href="#">
                    {{ category.name }}
                    {% if subcategories %}
                        <i class="fas fa-chevron-right mt-1"></i>
                    {% endif %}
                </a>
                
                <!-- Submenú -->
                {% if subcategories %}
                    <ul>
                        {% for subcategory in subcategories %}
                            <li>
                                <a href="#">
                                    {{ subcategory.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}



<!-- Cargas archivos .js propios de cada template/vista -->
{% block extra_scripts %}
    
{% endblock %}