

{% load static %}

<!-- Toggle button -->
<div class="btn btn-mobile" id="nav-toggle">
    <i class="ri-menu-line icon-medium"></i>
</div>

<!-- ICON SEARCH -->
<button class="btn btn-mobile" id="top-btn-search" aria-expanded="false">
    <i class="ri-search-line icon-medium"></i>
</button>

<!-- Search Form (hidden by default)  -->
<div class="search-bar-mobile" id="search-bar-mobile" data-state="null">
    
    <form class="d-flex top-bar-search" action="{% url 'product_top_search' %}" method="GET">

        <input class="text-medium" type="text" name="topQuery" placeholder="Buscar...">

        <div class="d-flex">
            <button class="btn" type="submit">
                <i class="ri-search-line icon-medium"></i>
            </button>

            <button class="btn" type="button" id="back-search-form">
                <i class="ri-close-line icon-xl"></i>
            </button>
        </div>

    </form>
    
</div>

<!-- Logo -->
<a href="{% url 'Home' %}" class="logo-mobile">
    <img src="{% static 'img/ico/logo.jpg' %}" class="logo" alt="logo">
</a>

<!-- Icon Cart Overlay -->
<button class="btn btn-mobile cart-button" aria-expanded="false"">
    <i class="ri-shopping-cart-2-line icon-medium"></i>
</button>
{% include "cart/widget_cart.html" %}

<!-- Icon user login -->
<button class="btn btn-mobile user-button" aria-expanded="false">
    <i class="ri-user-3-line icon-medium"></i>
</button>
{% include "users/widget_login.html" %}


<!-- Content of toggle -->
<div class="nav-menu-mobile" id="nav-menu-mobile" data-state="closed">
    
    <div class="container-menu-mobile">
        <ul class="nav__list">
            <!-- Close button from toggle button -->
            <li class="drop-item-mobile container-space-between">
                <strong> Menú </strong>
                <button class="btn btn-menu-mobile" id="menu-mobile-close">
                    <i class="ri-close-large-line icon-small"></i>
                </button>
            </li>
            
            <li>
                <!-- Botón para desplegar el menú -->
                <button class="dropdown-btn" aria-expanded="false">
                    <b> Nuestros Productos </b>
                    <div class="btn btn-menu-mobile">
                        <i class="ri-arrow-down-s-line icon-small arrow-drop"></i>
                    </div>
                </button>

                <!-- Lista de categorías -->
                <ul class="dropdown-menu" data-state="null">
                {% for category, subcategories in categories_dropmenu.items %}
                    <li>
                    <!-- Item with sub menu -->
                    {% if subcategories %}
                        <button class="dropdown-btn bg-secondary" aria-expanded="false">
                            <b> {{ category.name }} </b>
                            <div class="btn btn-menu-mobile">
                                <i class="ri-arrow-down-s-line icon-small arrow-drop"></i>
                            </div>
                        </button>

                        <!-- Submenú -->
                        <ul class="dropdown-menu" data-state="null">
                        {% for subcat in subcategories %}
                            {% if forloop.first %}
                            <li class="sub-item-mobile">
                                <a href="{% url 'pl_category' category.slug %}" 
                                class="container-space-between w-100 h-100">
                                    <b>Todos</b>
                                </a>
                            </li>  
                            {% endif %}
                                
                            <li class="sub-item-mobile">
                                <a href="{% url 'pl_subcategory' category.slug subcat.slug %}" 
                                class="container-space-between w-100 h-100">
                                    <b>{{ subcat.name }}</b>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>

                    {% else %}
                        <!-- Item without sub menu -->
                        <div class="drop-item-mobile bg-secondary"> 
                            <a href="{% url 'pl_category' category.slug %}"
                            class="container-space-between w-100 h-100">
                                <b>{{ category.name }}</b>
                            </a>
                        </div>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </li>

            <li class="drop-item-mobile">
                <a href="{% url 'Home' %}" class="container-space-between w-100 h-100">
                    <b>Home</b>
                </a>
            </li>

            <li class="drop-item-mobile">
                <a href="#" class="container-space-between w-100 h-100">
                    <b>About Us</b>
                </a>
            </li>
    
            <li class="drop-item-mobile">
                <a href="#" class="container-space-between w-100 h-100">
                    <b>Contact</b>
                </a>
            </li>
        </ul>
    </div>

    <!-- Iconos -->
    <div class="cont-menu-icons gap-5">
        <a href="{{ store.google_url }}" target="_blank" class="btn text-primary">
            <i class="ri-whatsapp-line icon-medium"></i>
        </a>

        <a href="{{ store.ig_url }}" target="_blank" class="btn text-primary">
            <i class="ri-instagram-line icon-medium"></i>
        </a>

        <a href="{{ store.tt_url }}" target="_blank" class="btn text-primary">
            <i class="ri-tiktok-fill icon-medium"></i>
        </a>

        <a href="{{ store.fb_url }}" target="_blank" class="btn text-primary">
            <i class="ri-facebook-box-fill icon-medium"></i>
        </a>

        <!-- Icon reserver -->
        <button class="theme-toggle btn text-primary">
            <i class="theme-icon ri-moon-line icon-medium"></i>
        </button>
    </div>

</div>

<div class="overlay" id="overlay-menu-mobile"></div>