

{% load static %}

<!-- Toggle button -->
<div class="btn btn-mobile" id="nav-toggle">
    <i class="ri-menu-line"></i>
</div>

<!-- ICON SEARCH -->
<button class="btn btn-mobile" id="top-btn-search">
    <i class="ri-search-line"></i>
</button>

<!-- Search Form (hidden by default) -->
<div class="search-bar-mobile" id="search-bar-mobile" data-state="null">
    <div class="container-space-between gap-3 py-1">
        <form class="top-bar-search" action="{% url 'product_top_search' %}" method="GET">
            <input type="text" name="topQuery" placeholder="Buscar...">

            <button class="btn btn-mobile" type="submit">
                <i class="ri-search-line"></i>
            </button>
        </form>
        
        <button class="btn btn-mobile" id="back-search-form">
            <i class="ri-close-line"></i>
        </button>
    </div>
</div>

<!-- Logo -->
<a href="{% url 'Home' %}" class="logo-mobile">
    <img src="{% static 'img/ico/logo.jpg' %}" class="logo" alt="logo">
</a>

<!-- Icon reserver -->
<button class="theme-toggle btn btn-mobile">
    <i class="theme-icon ri-moon-line"></i>
</button>

<!-- Icon user login -->
<button class="btn btn-mobile">
    <i class="ri-user-3-line"></i>
</button>


<!-- Content of toggle -->
<div class="nav-menu-mobile" id="nav-menu-mobile" data-state="closed">
    
    <div class="container-menu-mobile">
        <ul class="nav__list">
            <!-- Close button from toggle button -->
            <li class="drop-item-mobile">
                <div class="container-space-between">
                    <strong> Menú </strong>
                    <button class="btn btn-menu-mobile" id="nav-close">
                        <i class="ri-close-large-line"></i>
                    </button>
                </div>
            </li>
            
            <li>
                <!-- Botón para desplegar el menú -->
                <button class="dropdown-btn" aria-expanded="false">
                    <span> Barrios </span>
                    <div class="btn btn-menu-mobile">
                        <i class="ri-arrow-down-s-line arrow-drop"></i>
                    </div>
                </button>

                <!-- Lista de categorías -->
                <ul class="dropdown-menu" data-state="null">
                {% for category, subcategories in categories_dropmenu.items %}
                    <li>
                    <!-- Item with sub menu -->
                    {% if subcategories %}
                        <button class="dropdown-btn bg-secondary" aria-expanded="false">
                            <span>{{ category.name }}</span>
                            <div class="btn btn-menu-mobile">
                                <i class="ri-arrow-down-s-line arrow-drop"></i>
                            </div>
                        </button>

                        <!-- Submenú -->
                        <ul class="dropdown-menu" data-state="null">
                        {% for subcat in subcategories %}
                            {% if forloop.first %}
                            <li class="sub-item-mobile justify-start">
                                <a href="{% url 'pl_category' category.slug %}">
                                    Todos
                                </a>
                            </li>  
                            {% endif %}
                                
                            <li class="sub-item-mobile justify-start">
                                <a href="{% url 'pl_subcategory' category.slug subcat.slug %}">
                                    {{ subcat.name }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>

                    {% else %}
                        <!-- Item with sub menu -->
                        <div class="drop-item-mobile justify-start bg-secondary"> 
                            <a href="{% url 'pl_category' category.slug %}">
                                {{ category.name }}
                            </a>
                        </div>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </li>

            <li class="drop-item-mobile justify-start">
                <a href="{% url 'Home' %}">
                    <span>Home</span>
                </a>
            </li>

            <li class="drop-item-mobile justify-start">
                <a href="#">
                    <span>About Us</span>
                </a>
            </li>
    
            <li class="drop-item-mobile justify-start">
                <a href="#" target="_blank">
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Iconos -->
    <div class="cont-menu-icons">
        <a href="{{ store.google_url }}" target="_blank" class="nav__social-link">
            <i class="ri-whatsapp-line"></i>
        </a>

        <a href="{{ store.ig_url }}" target="_blank" class="nav__social-link">
            <i class="ri-instagram-line"></i>
        </a>

        <a href="{{ store.tt_url }}" target="_blank" class="nav__social-link">
            <i class="ri-tiktok-fill"></i>
        </a>

        <a href="{{ store.fb_url }}" target="_blank" class="nav__social-link">
            <i class="ri-facebook-box-fill"></i>
        </a>
    </div>

</div>

<div class="overlay" id="overlay-menu-mobile"></div>