

/*  ============================================= 
                HEADER & TOP NAV 
=============================================    */
.top-nav {
    display: none; /* Ocultar en móviles */
}

.logo {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* Desktop (mín. 993px) */
@media (min-width: 993px) {
    .top-nav {
        display: flex;
        height: 65%;
        max-height: 65%;
    }
}

/* 
    TOP BAR SEARCH
*/
.top-bar-search {
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 0;    /* mobile */
    width: 100%;    /* mobile */
    height: 100%;
}

.top-bar-search input {
    height: 100%;
    padding-left: 3%;
    width: calc(100% - 83px);
    border: none;
    outline: none;     /* Elimina el contorno al enfocar  */
    background-color: transparent;
}

.top-bar-search input:focus {
    outline: none;
    box-shadow: none;
}

.top-bar-search button {
    width: 40px;
    height: 100%;
    color: var(--black-color);
}

#back-search-form {
    width: 42px;
    border-left: solid 1px var(--text-secondary);
}

/* Hide the search form by default */
.search-bar-mobile {
    position: absolute;
    display: block;
    
    top: 0;
    left: 0;
    width: 100%;

    
    z-index: var(--z-index);

    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /* transition: max-height 0.3s ease, opacity 0.3s ease;  height: 100%; */
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.search-bar-mobile[data-state="closed"] {
    display: block;
    height: 0; /* Cerrado */
    opacity: 0;
}

.search-bar-mobile[data-state="open"] {
    display: block;
    height: var(--height-header); /* Abierto (ej: 68px o 25vh) */
    opacity: 1;
}

/* Desktop (min. 993px) */
@media (min-width: 993px) {
    .top-bar-search {
        min-height: 40%;
        height: 40%;
        width: 90%;
        padding-right: 1%;
        border-radius: 20px;
    }
    
    .top-bar-search input {
        font-size: var(--font-normal);
    }
}


/* ========================================================================
    Main Nav Bar
======================================================================== */
/* Estilos base (móvil) */
.main-nav {
    display: none;
}

.nav__list {
    display: flex;
    flex-direction: column;    /* mobile edit */
    height: auto;     /* mobile edit */
    max-height: 100%;

    overflow-y: auto;
    width: 100%;
}

/* Media queries para pantallas más grandes (tablet, desktop) */
@media (min-width: 993px) {
    .main-nav {
        display: flex;
        height: 35%;
        max-height: 35%;

        align-items: center;
        text-align: center;
    }

    .nav__list {
        flex-direction: row; /* mobile edit */
        height: var(--height-item-main-nav); /* mobile edit */
    }

    /* Effect icons top */
    .nav__social-link {
        transition: transform .4s;
    }

    .nav__social-link:active,
    .nav__social-link:hover {
        transform: translateY(-.25rem);
    }

    .nav__link {
        position: relative;
        color: var(--white-color);
        font-weight: var(--font-bold-weight);
        align-items: center;
        transition: opacity .4s;
    }
    
    .nav__link span {
        position: relative;
        transition: margin .4s;
    }
    
    .nav__link span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        height: 2px;
        background-color: var(--white-color);
        transition: width .4s ease-out;
    }
    
    /* Animation link on hover */
    .nav__link:hover span::after {
        width: 100%;
    }
    
    /* Sibling fade animation */
    .nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
        opacity: .4;
    }

    /* 
        Buttons main nav
    */
    .btn-main-nav {
        width: 40px;
        height: 40px;
        max-height: 100%;
        color: var(--white-color);
        background-color: var(--main-color);
        transition: background-color 0.3s ease;
    }

    .btn-main-nav:hover,
    .btn-main-nav:active,
    .btn-main-nav:focus {
        background-color: var(--main-light-color);
    }
}

/* =====================================================================================
                            BARRA DROP CONTENT TIPO PRODUCTO todo
/* ===================================================================================== */
/* Main dropdown button */
.dropdown-btn,
.drop-item-mobile,
.sub-item-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    padding-left: 5%;
    width: 100%;
    height: var(--height-item-main-nav); 
    max-height: var(--height-item-main-nav);

    font-size: var(--font-small-plus);
    color: var(--text-primary);
    background-color: var(--bg-primary);

    border: none;
    border-bottom: 1px solid var(--text-secondary);

    transition: color 0.3s ease;
}

.btn-menu-mobile {
    color: var(--text-primary);
    height: var(--height-item-main-nav); 
    width: calc(var(--height-item-main-nav) + 1px);
    border-left: 1px solid var(--text-secondary);
}

.sub-item-mobile {
    border-left: 1px solid var(--text-secondary);
    background-color: var(--bg-secondary-dark);
    margin-left: 7%;
    width: 93%;
    max-width: 93%;
}

.dropdown-btn:active i { color: var(--text-primary) !important; }

/* Add animation for the arrow icon when the dropmenu opens  */
.arrow-drop { transition: transform 0.3s ease; }
.rotate { transform: rotate(180deg); }

/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 993px) {
    .dropdown-btn {
        cursor: pointer;    /* edit mobile */
        border: 2px solid var(--main-color);    /* edit mobile */
        padding: 3%;
        margin-left: -2px;    
        width: calc(100% + 4px);
    }

    .dropdown-btn:hover i {
        color: var(--text-primary) !important;
    }
}


/* 
    Drop down main categories menu
*/
/* MOBILE */
.dropdown-menu { 
    display: none;
    position: relative; /* edit mobile */
    box-shadow: none; /* edit mobile */
    border: none;    /* edit mobile */
    margin: 0;    /* edit mobile */
    width: 100%;    /* edit mobile */
    height: auto;    /* edit mobile */
    max-height: 40vh;    /* edit mobile */

    /* general stuff */
    opacity: 0;
    pointer-events: none;
    background-color: var(--bg-primary);
    z-index: var(--z-index);

    /* should be added to the class in general not to the animation   */
    overflow-y: auto; 
    scrollbar-width: none; /* Hide the bar in Firefox */
    -ms-overflow-style: none; /* Hide the bar in Internet Explorer/Edge */

    /* should be added to the class in general not to the animation 
    see .show and .hide events for more info */
    --max-height-vertical-anim: 50vh;
}

.dropdown-menu::-webkit-scrollbar {
    display: none; /* Hide the bar in Chrome, Safari and Edge */
}

/* Classes to apply the animations animation: slideDownCat 0.5s ease forwards;*/
.dropdown-menu[data-state="open"] {
    display: block;
    pointer-events: all;
    --max-height-vertical-anim: 70vh;
    animation: slideOpenToggle 0.6s ease forwards;
}

.dropdown-menu[data-state="closed"] {
    display: block;
    pointer-events: none;
    --max-height-vertical-anim: 70vh;
    animation: slideCloseToggle 0.6s ease forwards; 
}

.bg-secondary {
    background-color: var(--bg-secondary-light) !important;
}

.not-border-bottom {
    border-bottom: 1px transparent !important;
}

/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 993px) {
    .dropdown-menu {
        position: absolute;        /* edit mobile */
        width: 100%;    /* edit mobile */
        box-shadow: 2px 2px 5px 0px var(--black-color);     /* edit mobile */
        border: 2px solid var(--main-color);    /* edit mobile */
        margin-left: -2px;    /* edit mobile */
        width: calc(100% + 4px);    /* edit mobile */
        border-top: none;    /* edit mobile */
        max-height: 70vh;    /* edit mobile */
    }

    /* Submenú  */
    .sub-dropdown-content {
        display: none;
        width: calc(var(--width-first-col) - 5%);

        background-color: var(--bg-primary);
        border: 2px solid var(--main-color);
        box-shadow: 1px 1px 5px 0px var(--black-color); 

        max-height: 50vh;
        overflow-y: auto;
    }

    .dropdown-item,
    .sub-dropdown-item {
        width: 100%;
        cursor: pointer;
        background-color: var(--bg-primary);
        border-bottom: 1px solid var(--main-color);
        font-size: var(--font-small-plus);

        padding: 3%;
        height: var(--height-item-main-nav); 
        max-height: calc(var(--height-item-main-nav) - 6.2px);
    }

    .dropdown-item:hover,
    .sub-dropdown-item:hover {
        background-color: var(--bg-secondary-mobile);
        opacity: 1;
    }
}


/* ===================================================================================
           NAVEMENU MOBILE CSS
=================================================================================== */ 
/* Navigation for mobile devices */
/* mobile nav */
.mobile-nav {
    width: 100%;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    padding: 1% 0%;
}

.btn-mobile {
    width: 12%;
    height: 100%;
    color: var(--white-color);
}

.logo-mobile {
    height: 100%;
    max-height: 100%;
    width: 46%;
    max-width: 46%;
}

/* hide menu mobile togle */
.nav-menu-mobile {
    position: absolute;
    left: -100%;
    top: 0;
    width: 85%;
    height: 100vh;
    background-color: var(--bg-primary);

    transition: left 0.5s;
    z-index: var(--z-index-plus);
}

.nav-menu-mobile[data-state="closed"] {
    left: -100%;
    top: 0;
}

.nav-menu-mobile[data-state="open"] {
    left: 0;
}

.container-menu-mobile {
    height: 90%;
    max-height: 90%;
    overflow-y: auto;
    width: 100%;
}

/* container icons of menu toggle */
.cont-menu-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10%;
    max-height: 10%;
    width: 100%;

    padding: 1% 7%;
}

/* Desktop (máx. 993px) */
@media (min-width: 993px) {
    .mobile-nav {
        display: none;
    }
}


/* ============================================= 
    fixed-nav in desktop css
============================================= */
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px !important;    /* 11vh */
    background-color: var(--main-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    opacity: 0;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    z-index: var(--z-fixed);
}

.fixed-nav.active {
    transform: translateY(0);
    opacity: 1;
}

/* for some reason this update correctly responsive so we keep this media */
@media (min-width: 1500px) {
    .fixed-nav { 
        padding-left: 7%;
        padding-right: 7%;
    }
}

/* Styles for the logo when navigation is fixed */
.logo-container-fixed {
    display: block;
    width: 18%;
    height: 50px;
    max-height: 100%;
    padding-right: 0.5%;
}
