

/* =========================================================================================
                Swiper personalizado de los headers
/* ========================================================================================= */
.home-header-container {
    display: flex;
    width: 100%;
    height: 75vh; /* Altura para desktop */
    max-height: 75vh;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide .header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper-pagination {
    background-color: #ffffff85;
    margin-left: 50%;
    transform: translateX(-50%); /* Ajusta la posición exacta del centro */

    width: 80px !important;
    height: 22px !important;

    display: flex;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 5px;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 0 6px;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-light-color); 
    opacity: 1; 
}

/* Tablets (máx. 992px) */
@media screen and (max-width: 992px) {
    .home-header-container {
        height: 65vh; /* Altura para tablets */
    }

    .swiper-pagination {
        margin-bottom: calc(35vh - var(--height-header));
    }
}

/* Celulares (máx. 768px) */
@media screen and (max-width: 768px) {
    .home-header-container {
        height: 55vh; /* Altura para celulares */
    }

    .swiper-pagination {
        margin-bottom: calc(45vh - var(--height-header));
    }
}


/* =========================================================================================
            CAROUSEL PRODUCTS CONTAINERS
/* ========================================================================================= */
/*
    Carousel container tittle and tittle stuff
*/
.carousel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    border-bottom: 4px solid var(--main-color);
    margin-bottom: 1%;
}

.c-title {
    color: #fff;
    font-size: var(--font-normal);
    font-weight: var(--font-bold-weight);
    background-color: var(--main-color);

    position: relative;
    display: flex;
    align-items: center;
    
    padding-left: 3%;
    width: 50%;
    height: 100%;
    z-index: 1;
}

/* Efecto de inclinación */
.c-title:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10%;
    width: 50%;
    background: var(--main-color);
    background-color: var(--main-color);
    -webkit-transform: skew(22deg); /* Para Safari y versiones antiguas de Chrome */
    -ms-transform: skew(22deg); /* Para versiones antiguas de IE */
    transform: skew(25deg);
    z-index: -1;
}


/* Buttons */
.swiper-button-prev-product::after,
.swiper-button-next-product::after {
    content: ''; /* Elimina el contenido predeterminado */
    display: none; /* Asegúrate de que no se muestren */
}

.swiper-button-prev-product,
.swiper-button-next-product {
    position: static;     /* Elimina el posicionamiento automático */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    color: var(--text-primary);
    font-size: var(--font-medium) !important;
    border: 1px solid var(--text-secondary);
    background-color: var(--bg-primary);

    border-radius: 5px;
    width: 30px;
    height: 30px;

    transition: transform 0.5s ease;
}

.swiper-button-prev-product:hover,
.swiper-button-next-product:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/*
    Carousel products containers stuff
*/
.swiper-products {
    width: 100%;
    overflow: hidden; /* Evita que el contenido desborde */
}

.swiper-products .swiper-wrapper {
    display: flex;
    width: 100%;
    margin-left: 0.6%;    /* para agregar un efecto de adentro del contenedor */
    height: 500px;
    transition: transform 0.5s ease-in-out; /* Swiper gestiona esto automáticamente */
}

.carousel-product-item {
    width: 23.5%;
    margin-right: 1.5%; /* Ajusta el gap entre diapositivas debe realizarse de esta forma 
    para evitar es un desborde continuo si se realiza con gap */
    flex-shrink: 0; /* Evita que las diapositivas se reduzcan */

    min-height: 380px;
    max-height: 380px;
    background: var(--bg-primary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border: 1px solid #000; */
    
    user-select: none; 
    -webkit-user-select: none; /* Safari */ 
    -moz-user-select: none; /* Firefox */ 
    -ms-user-select: none; /* Internet Explorer/Edge */ 
    cursor: grab;
    position: relative;
    overflow: visible; /* Permite que el contenido se muestre fuera del contenedor */
    transition: height 0.3s ease-in-out; /* Suaviza la animación de expansión */
}

/* Contenedor extensor para button */
.carousel-extender-btn {
    width: 100%;
    height: 0; /* Inicia con altura 0 */
    left: 0;
    bottom: -50px;
    
    background-color: var(--bg-primary);
    /* border: 1px solid #000; */

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0; 
    z-index: var(--z-index); 
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

/* Botón dentro del extensor */
.carousel-btn-carrito {
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: var(--font-normal);
    width: 70%;
    padding: 7px 10px;
    opacity: 0;
}

/* Desktop - Se activa el hover */
@media screen and (min-width: 992px) {
    /* Mostrar el extensor y el botón al pasar el mouse */
    .carousel-product-item:hover .carousel-extender-btn,
    .carousel-extender-btn:hover {
        opacity: 1;
        pointer-events: auto;
        bottom: -50px; /* Mantén la posición de inicio */
        height: 50px; /* Extiende la altura completa */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .carousel-product-item:hover .carousel-btn-carrito {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }
}

/* Tablets (máx. 992px) */
@media screen and (max-width: 992px) {
    .carousel-extender-btn { 
        opacity: 1;
        pointer-events: auto;
        bottom: -50px; /* Mantén la posición de inicio */
        height: 50px; /* Extiende la altura completa */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .carousel-btn-carrito {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }

    .carousel-product-item {
        width: 32%;
        margin-right: 1.5%;
    }
}

/* Celulares (máx. 768px) */
@media screen and (max-width: 768px) {
    .carousel-product-item {
        width: 32%;
        margin-right: 1.5%;
    }
}

/* Celulares pequeños (máx. 480px) */
@media screen and (max-width: 480px) {
    .carousel-product-item {
        width: 48.5%;
        margin-right: 1.5%;
    }
}

/* 
    CARDS PRODUCTS CAROUSEL
        /* Product Image 
            Parent container
            min-height: 380px;
            max-height: 380px;
*/

.image-container {
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.image-container img {
    transition: transform 3.0s ease;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: scale-down;
}

.corner-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}


/* Desktop - Se activa el hover */
@media screen and (min-width: 992px) {
    .image-container img:hover {
        transform: scale(1.7);
    }

    .corner-box:hover {
        color: var(--white-color);
        background-color: var(--black-color);
    }
}

/* Dispositivos no desktop (tablets y móviles) - Desactiva el hover */
@media screen and (max-width: 992px) {
    .image-container img {
        transition: none; /* Desactiva la transición */
    }

    .image-container img:hover {
        transform: none; 
    }

    .corner-box:hover {
        color: inherit;
        background-color: inherit;
    }

    .corner-box:active {
        color: var(--white-color);
        background-color: var(--black-color);
    }
}


/* Estilos generales para el modal */
.carousel-modal {
    display: none;

    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 85vh;
    width: 80%;
    z-index: var(--z-index);
}

/* Estilos cuando el modal está cerrado */
.carousel-modal[data-state="closed"] {
    display: none;
    pointer-events: none; /* Evita interacciones cuando el modal está cerrado */
}

/* Estilos cuando el modal está abierto */
.carousel-modal[data-state="open"] {
    display: block;
    pointer-events: auto; /* Permite interacciones cuando el modal está abierto */
}




/* Estilos para el figcaption */
.carousel-product-data {
    padding: 3% 7% 0% 7%; /* padding: top right bottom left; */
    background: var(--bg-primary);
    font-size: var(--font-small-plus);

    /* nos quedan 220px de altura -50px altura from extender button   170 */
    display: grid; /* Activa el sistema de grillas */
    grid-template-rows: 55px 35px 25px 30px 35px; /* Define alturas específicas para cada fila */
}

.carousel-product-data a {
    color: var(--text-primary);
    font-weight: var(--font-plus-weight);
    text-transform: uppercase;
}

.heart-button {
    color: red;
    width: 35px;
    height: 35px;
    transition: transform ease 0.5 segunds;
}

/* Estilos para el precio normal */
.price-line-through {
    font-size: var(--font-small-plus);
    color: var(--text-secondary);
    text-decoration: line-through; /* Tachado para mostrar que es el precio normal */
}

/* Tablets (máx. 992px) */
@media screen and (min-width: 992px) {
    .heart-button:hover {
        transform: scale(1.1);
    }
}

/* Celulares (máx. 992px) */
@media screen and (max-width: 992px) {

    /* Estilos para el figcaption */
    .carousel-product-data {
        /* nos quedan 220px de altura -50px altura from extender button   170 */
        display: grid; /* Activa el sistema de grillas */
        grid-template-rows: 70px 35px 25px 30px 35px; /* Define alturas específicas para cada fila */
    }

    .heart-button {
        transition: none;
    }

    .heart-button:active {
        transform: scale(1.3);
    }
}

