
main {
    padding-top: 0;    /* mobile changes */
}


/* =========================================================================================
                Swiper personalizado de los headers
/* ========================================================================================= */
/* Styles for small mobile phones (hasta 480px) */
/* Styles for small mobile phones */
.home-header-container {
    display: flex;
    width: 100%;
    height: 55vh; /* edit mobile */
    max-height: 55vh;
    position: relative;
}

/* Styles for desktops (mín. 769px to max. 992px+)) */
@media (min-width: 769px) {
    
    .home-header-container {
        height: 65vh; /* Altura para tablets */
        max-height: 65vh;
    }
}

/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 993px) {
    .home-header-container {
        height: 75vh; /* edit mobile */
        max-height: 75vh;
    }
}

.swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide .header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper-pagination {
    position: absolute;
    background-color: #ffffff85;
    margin-left: 50%;
    transform: translateX(-50%); /* Ajusta la posición exacta del centro */

    width: 80px !important;
    height: 22px !important;

    display: flex;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 5px;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 0 6px;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-light-color); 
    opacity: 1; 
}
