





/* Tablets (máx. 992px) */
@media screen and (max-width: 992px) {
    .carousel-extender-btn { 
        opacity: 1;
        pointer-events: auto;
        bottom: -50px; /* Mantén la posición de inicio */
        height: 50px; /* Extiende la altura completa */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .carousel-btn-carrito {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }

    .carousel-product-item {
        width: 32%;
        margin-right: 1.5%;
    }
}

/* Celulares (máx. 768px) */
@media screen and (max-width: 768px) {
    .carousel-product-item {
        width: 32%;
        margin-right: 1.5%;
    }
}

/* Celulares pequeños (máx. 480px) */
@media screen and (max-width: 480px) {
    .carousel-product-item {
        width: 48.5%;
        margin-right: 1.5%;
    }
}























.dropdown-menu {
    display: none;
    position: absolute;
    opacity: 0;
    pointer-events: none;

    width: 100%;
    background-color: var(--bg-primary);
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
    box-shadow: 2px 2px 5px 0px var(--black-color); 

    border: 2px solid var(--main-color);
    margin-left: -2px;
    width: calc(100% + 4px);
    
    border-top: none;
    z-index: var(--z-index);
    max-height: 70vh;

    /* should be added to the class in general not to the animation   */
    overflow-y: auto; 
    scrollbar-width: none; /* Hide the bar in Firefox */
    -ms-overflow-style: none; /* Hide the bar in Internet Explorer/Edge */
}

.dropdown-menu::-webkit-scrollbar {
    display: none; /* Hide the bar in Chrome, Safari and Edge */
}

/* Classes to apply the animations animation: slideDownCat 0.5s ease forwards;*/
.dropdown-menu[data-state="open"] {
    display: block;
    pointer-events: all;
    --max-height-vertical-anim: 70vh;
    animation: slideOpenToggle 0.6s ease forwards;
}

.dropdown-menu[data-state="closed"] {
    display: block;
    pointer-events: none;
    --max-height-vertical-anim: 70vh;
    animation: slideCloseToggle 0.6s ease forwards; 
}

/* Elementos del menú */
.dropdown-menu a {
    color: var(--text-primary) !important;
    font-size: var(--font-small) !important;
}

.dropdown-item,
.sub-dropdown-item {
    width: 100%;
    cursor: pointer;
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--main-color);
    
    padding: 3%;
    height: var(--height-item-main-nav); 
    max-height: calc(var(--height-item-main-nav) - 6.2px);
}

.dropdown-item:hover,
.sub-dropdown-item:hover {
    background-color: var(--bg-secondary-mobile);
    opacity: 1;
}

/* Submenú  */
.sub-dropdown-content {
    display: none;
    width: calc(var(--width-first-col) - 5%);

    background-color: var(--bg-primary);
    border: 2px solid var(--main-color);
    box-shadow: 1px 1px 5px 0px var(--black-color); 

    max-height: 50vh;
    overflow-y: auto;
}

/* Agregar la animación para el ícono de la flecha cuando se abre el dropmenu  */
.arrow-drop {
    transition: transform 0.3s ease;
    font-size: var(--font-normal-plus) !important;
}
.rotate { 
    transform: rotate(180deg); 
}

/* 
    Buttons main nav
*/
.btn-main-nav {
    width: 40px;
    height: 40px;
    max-height: 100%;
    background-color: var(--main-color);
    color: var(--white-color);
}

.btn-main-nav:hover,
.btn-main-nav:active,
.btn-main-nav:focus {
    background-color: var(--main-light-color);
}

/* Mobile and Tablets (máx. 992px) */
@media (max-width: 992px) {

    .dropdown-btn,
    .drop-item-mobile {
        cursor: none;
        border: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--text-secondary);

        padding-left: 5%;
        width: 100%;
        height: var(--height-item-main-nav); 
        max-height: var(--height-item-main-nav);
        min-height: var(--height-item-main-nav);

        font-size: var(--font-normal-plus);
        font-weight: var(--font-bold-weight);

        justify-content: space-between;
        align-items: center;
        position: relative;
        
        color: var(--text-primary) !important;
        background-color: var(--bg-primary) !important;
    }

    .drop-item-mobile a,
    .dropdown-btn i {
        color: var(--text-primary) !important;
        font-size: var(--font-normal-plus) !important;
        font-weight: var(--font-bold-weight) !important;
    }

    /* Drop down menu de categories principal */
    .dropdown-menu {
        display: none;
        position: relative;
        box-shadow: none; 

        margin: 0;
        width: 100%;
        height: auto;
        max-height: 40vh;
        /* should be added to the class in general not to the animation 
        see .show and .hide events for more info */
        --max-height-vertical-anim: 50vh;

        overflow-y: auto;
        border: none;
    }

    .bg-secondary {
        background-color: var(--bg-secondary-light) !important;
    }

    .not-border-bottom {
        border-bottom: 1px transparent !important;
    }
    
    .sub-item-mobile {
        border: none;
        border-left: 1px solid var(--text-secondary);
        border-bottom: 1px solid var(--text-secondary);
        background-color: var(--bg-secondary-dark);
        
        margin-left: 7%;
        width: 93%;

        padding: 0;
        padding-left: 5%;
        height: var(--height-item-main-nav); 
        max-height: var(--height-item-main-nav);

        font-size: var(--font-normal-plus);
        font-weight: var(--font-bold-weight);
        position: relative;
    }

    .sub-item-mobile a {
        font-size: var(--font-normal-plus) !important;
        font-weight: var(--font-bold-weight) !important;
    }
}























/* Navigation for mobile devices */
.mobile-nav {
    display: none;
}

/* Mobile and Tablets (máx. 768px) */
@media (max-width: 992px) {

    /* mobile nav */
    .mobile-nav {
        width: 100%;

        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        position: relative;
        padding: 1% 0%;
    }

    .btn-mobile {
        width: 12%;
        height: 100%;
        color: var(--white-color);
    }

    .logo-mobile {
        height: 100%;
        max-height: 100%;
        width: 46%;
        max-width: 46%;
    }

    /* hide menu mobile togle */
    .nav-menu-mobile {
        position: absolute;
        left: -100%;
        top: 0;
        width: 85%;
        height: 100vh;
        background-color: var(--bg-primary);

        transition: left 0.5s;
        z-index: var(--z-index-plus);
    }

    .nav-menu-mobile[data-state="closed"] {
        left: -100%;
        top: 0;
    }

    .nav-menu-mobile[data-state="open"] {
        left: 0;
    }

    .container-menu-mobile {
        height: 90%;
        max-height: 90%;
        overflow-y: auto;
        width: 100%;
    }

    /* container icons of menu toggle */
    .cont-menu-icons {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 10%;
        max-height: 10%;
        width: 100%;
        padding: 1% 7%;
    }

    .nav__social-link {
        color: var(--text-primary);  /* for color icons in menu toggle */
    }

    .btn-menu-mobile {
        color: var(--text-primary) !important;
        padding: 0 !important;
        margin: 0 !important;

        height: var(--height-item-main-nav); 
        width: var(--height-item-main-nav);
        border-left: 1px solid var(--text-secondary);
    }

    .nav__list {
        flex-direction: column;

        height: auto;
        max-height: 100%;
        overflow-y: auto;

        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.nav__list {
    display: flex;
    height: var(--height-item-main-nav);
}

.nav__link {
    position: relative;
    color: var(--white-color);
    font-weight: var(--font-bold-weight);

    align-items: center;
    transition: opacity .4s;
}
  
.nav__link span {
    position: relative;
    transition: margin .4s;
}

.nav__link span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    transition: width .4s ease-out;
}

/* Animation link on hover */
.nav__link:hover span::after {
    width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
    opacity: .4;
}

/* effect icons top*/
.nav__social-link {
    color: var(--white-color);
    font-size: calc(var(--font-medium) + 0.25rem );
    transition: transform .4s;
}

.nav__social-link:hover {
    transform: translateY(-.25rem);
}
















header {
    height: var(--height-header);
    min-height: var(--height-header);
    width: 100%;
    background-color: var(--main-color);
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
}

main {
    width: 100%;
    background-color: var(--bg-secondary);
    padding-bottom: 10px;
}

footer {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: var(--bg-primary);
}

@media (max-width: 992px) {
    header {
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-fixed);
    }

    main {
        margin-top: var(--height-header);    /* mobile */
        padding-top: 10px;    /* mobile */
    }
}

/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 993px) {
}











/* Estilos base para móviles ytablets (hasta 992px) */
.gap-0 { gap: 0rem !important; }  
.gap-1 { gap: 0.4rem !important; }   /* 6.4px */
.gap-2 { gap: 0.8rem !important; }   /* 12.8px */
.gap-3 { gap: 1.2rem !important; }   /* 19.2px */
.gap-4 { gap: 1.6rem !important; }   /* 25.6px */
.gap-5 { gap: 2rem !important; }     /* 32px */
.gap-6 { gap: 2.4rem !important; }   /* 38.4px */

.mt-0 { margin-top: 0rem !important; }
.mt-1 { margin-top: 0.4rem !important; }   /* 6.4px */
.mt-2 { margin-top: 0.8rem !important; }   /* 12.8px */
.mt-3 { margin-top: 1.2rem !important; }   /* 19.2px */
.mt-4 { margin-top: 1.6rem !important; }   /* 25.6px */
.mt-5 { margin-top: 2rem !important; }     /* 32px */
.mt-6 { margin-top: 2.4rem !important; }   /* 38.4px */

.mb-0 { margin-bottom: 0rem !important; }
.mb-1 { margin-bottom: 0.4rem !important; }   /* 6.4px */
.mb-2 { margin-bottom: 0.8rem !important; }   /* 12.8px */
.mb-3 { margin-bottom: 1.2rem !important; }   /* 19.2px */
.mb-4 { margin-bottom: 1.6rem !important; }   /* 25.6px */
.mb-5 { margin-bottom: 2rem !important; }     /* 32px */
.mb-6 { margin-bottom: 2.4rem !important; }   /* 38.4px */

.d-lg-block { display: none !important; }  /* Hide in mobile and tablets */
.d-md-block { display: block !important; }  /* Show in mobile tablets */

/* Desktop (mín. 993px) */
@media (min-width: 993px) {
    .d-md-block { display: none !important; }  /* Hide in desktop */
    .d-lg-block { display: block !important; }  /* Show in desktop */

    .gap-1 { gap: 0.5rem !important; }   /* 8px */
    .gap-2 { gap: 1rem !important; }     /* 16px */
    .gap-3 { gap: 1.5rem !important; }   /* 24px */
    .gap-4 { gap: 2rem !important; }     /* 32px */
    .gap-5 { gap: 2.5rem !important; }   /* 40px */
    .gap-6 { gap: 3rem !important; }     /* 48px */

    .mt-1 { margin-top: 0.5rem !important; }   /* 8px */
    .mt-2 { margin-top: 1rem !important; }     /* 16px */
    .mt-3 { margin-top: 1.5rem !important; }   /* 24px */
    .mt-4 { margin-top: 2rem !important; }     /* 32px */
    .mt-5 { margin-top: 2.5rem !important; }   /* 40px */
    .mt-6 { margin-top: 3rem !important; }     /* 48px */

    .mb-1 { margin-bottom: 0.5rem !important; }   /* 8px */
    .mb-2 { margin-bottom: 1rem !important; }     /* 16px */
    .mb-3 { margin-bottom: 1.5rem !important; }   /* 24px */
    .mb-4 { margin-bottom: 2rem !important; }     /* 32px */
    .mb-5 { margin-bottom: 2.5rem !important; }   /* 40px */
    .mb-6 { margin-bottom: 3rem !important; }     /* 48px */
}

.search-bar-mobile[data-state="closed"] {
    display: block;
    /* min-height: 0; */
    overflow: hidden;

    /* we change the value of the generic variable for the vertical animation */
    --max-height-vertical-anim: var(--height-header);
    animation: slideCloseToggle 0.3s ease forwards; 
}
  
.search-bar-mobile[data-state="open"] {    
    display: block;
    /* we change the value of the generic variable for the vertical animation */
    --max-height-vertical-anim: var(--height-header);
    animation: slideOpenToggle 0.3s ease forwards;
}











/*  Main container for all the contents of header, main, footer with paddings */
.container-page {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    margin: 0 auto;
}

@media (min-width: 1300px) {
    .container-page {
        max-width: 1300px;  
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* Tablets (máx. 992px) --> 4/5 de la base */
@media (max-width: 992px) {
    .container-page {
        padding-left: 5.5%;
        padding-right: 5.5%;
    }
}

/* Celulares (máx. 768px) --> 3/5 de la base */
@media (max-width: 768px) {
    .container-page {
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
}

/* Celulares pequeños (máx. 480px) --> 2/5 de la base */
@media (max-width: 480px) {
    .container-page {
        padding-left: 4%;
        padding-right: 4%;
    }
}













.top-bar-search {
    height: 40% !important;
    
    display: flex;
    justify-content: space-between;

    background-color: #fff;
    border-radius: 20px; /* Bordes redondeados */
}

/* Estilo del campo de entrada */
.top-bar-search input {
    color: var(--black-color);
    font-size: var(--font-normal);

    padding-left: 3%;
    width: 95%;
    
    border: none;
    outline: none;     /* Elimina el contorno al enfocar */
    background-color: transparent;
}

.top-bar-search input:focus {
    outline: none;
    box-shadow: none;
    color: var(--black-color);
}

/* Estilo del botón */
.top-bar-search button {
    width: auto;
    cursor: pointer;
    color: var(--black-color);
    font-size: var(--font-normal); 
    font-weight: var(--font-bold-weight);

    border: none;
    background-color: transparent;
}

/* Celulares (máx. 768px) */
@media screen and (max-width: 768px) {

    .top-bar-search {
        margin-left: 0%;
        width: 85% !important;
        height: 100% !important;
        border-radius: 0;
    }

    .top-bar-search input {
        height: 100%;
        font-size: var(--font-xl); 
        padding-left: 3%;
    }

    .top-bar-search button {
        font-size: var(--font-xl); 
        font-weight: var(--font-bold-weight);
    }
    
    #back-search-form {
        color: var(--black-color);
        width: 15% !important;
        border-left: solid 1px var(--text-secondary);
        font-size: var(--font-xxl) !important;
    }

    /* 
        Hide the search form by default 
    */
    .search-bar-mobile {
        position: absolute;
        display: none;
        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: var(--z-index);

        background-color: var(--white-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: max-height 0.5s ease, opacity 0.5s ease; 
    }

    .search-bar-mobile[data-state="closed"] {
        display: block;
        overflow: hidden;
        /* we change the value of the generic variable for the vertical animation */
        --max-height-vertical-anim: var(--height-header);
        animation: slideCloseToggle 0.5s ease forwards; 
    }

    .search-bar-mobile[data-state="open"] {    
        display: block;
        max-height: var(--height-header);
        /* we change the value of the generic variable for the vertical animation */
        --max-height-vertical-anim: var(--height-header);
        animation: slideOpenToggle 0.5s ease forwards;
    }
}