


#modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#modal-content {
	background: var(--bg-primary) !important;
	color: var(--text-primary) !important;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

	width: 80%;
	height: 90%;
	
	text-align: center;
}



.container-modal-limit-order {
	overflow-y: scroll;
	height: 75%;
	max-height: fit-content;
}

.btn-confirm-order {
	height: 50px;
	width: 30%;
	padding: 2% 5%;
	background-color: var(--main-color);
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: var(--font-normal) !important;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.btn-confirm-order:hover {
	background-color: var(--main-light-color);
}



.btn-order-close {
	height: 30px;
	width: 30px;
	background: #d40303;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: var(--font-normal) !important;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.btn-order-close:active {
	transform: scale(0.9);
}



  /* Cabecera del carrito */
.cart-view-header {
    display: grid;
    grid-template-columns: 10% 40% 16% 15% 18%;
    border-bottom: 2px solid var(--text-secondary);
    padding: 2%;
    text-align: start;
    font-weight: bold;
    color: var(--text-primary);
}

.cart-view-header .cart-col {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cart-view-header .cart-view-product {
    margin-left: 4% !important;
}

/* Filas del carrito */
.cart-view-content {
    display: flex;
    flex-direction: column;
}

.cart-row {
    display: grid;
    grid-template-columns: 10% 40% 16% 15% 18%;
    height: 120px;
    padding: 2%;
    border-bottom: 1px solid var(--text-secondary);
}

.cart-col {
    display: flex;
    align-items: top;
    justify-content: start;
	text-align: start;
    padding: 0;
    margin: 0;
}

/* Columna de imágenes */
.image-col img {
    width: 100%;
    max-width: 100%;
    max-height: 100% !important;
    height: 100% !important;  /* 110px; */
    object-fit: cover;
}

/* columna de nombre de producto */
.cart-view-product-name {
    color: var(--text-primary);
    transition: color 0.3s ease;
    font-weight: bold;
    font-size: var(--font-small);
	justify-content: start;
    margin-left: 4%;
	margin-right: 10%;
}

/* para los cupones */
.container-coupon {
    width: 70%; 
    display: flex;
    align-items: center;
}

.btn-coupon-apply {
    color: #ffffff;
    background-color: var(--main-color);
    border: none;
    width: 25%;
    font-size: var(--font-normal);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-coupon-apply:hover {
    background-color: var(--main-light-color);
}
