


{% extends "home/base.html" %}
{% load static %}





{% block extra_head %}
    <!-- Add extra head (style.css, title, etc) content here -->
     <title>Dashboard | Admin</title>
     <link href="{% static 'products/css/dashboard.css' %}" rel="stylesheet">
{% endblock extra_head %}




{% block main_content %}


<div class="cont-page">

    <aside class="dashboard gap-2" id="dashboard" data-state="closed">
        <!-- Botón para abrir/cerrar menú -->
        <button class="btn btn-dashboard mt-1 mb-1" id="dashboard-show">
            <i class="ri-menu-line icon-medium"></i>
            <b class="text-mobile"> Menú </b>
        </button>
        
        <!-- Botones del menú -->
        <button class="btn btn-dashboard" data-section="sells">
            <i class="ri-price-tag-3-line icon-medium"></i>
            <b class="text-mobile"> Simular Venta </b>
        </button>
    
        <button class="btn btn-dashboard" data-section="orders">
            <i class="ri-shopping-bag-line icon-medium"></i>
            <b class="text-mobile"> Pedidos </b>
        </button>
    
        {% if user.role == 'admin' %}
        <button class="btn btn-dashboard" data-section="products">
            <i class="ri-product-hunt-line icon-medium"></i>
            <b class="text-mobile"> Productos </b>
        </button>
        {% endif %}
        
        <button class="btn btn-dashboard" data-section="store">
            <i class="ri-store-2-line icon-medium"></i>
            <b class="text-mobile"> Tienda </b>
        </button>
    
        <button class="btn btn-dashboard" data-section="statistics">
            <i class="ri-line-chart-line icon-medium"></i>
            <b class="text-mobile"> Estadísticas </b>
        </button>


        <a class="btn btn-dashboard" href="#">
            <i class="ri-shield-user-line icon-medium"></i>
            <b class="text-mobile"> Perfil </b>
        </a>
    </aside>
    
    <!-- Secciones que se mostrarán dinámicamente -->
    <section id="sells" class="dashboard-section">Contenido de Simular Venta</section>


    <section id="orders" class="dashboard-section">Contenido de Pedidos</section>

    {% if user.role == 'admin' %}
    <section id="products" class="dashboard-section">
        <h1> Productos </h1>

        <div class="grid-products">
            <div>items</div>
            <div>category</div>
            <div>status</div>
            <div>sales</div>
            <div>stock</div>
            <div>price</div>
        </div>

        <div>
            <!-- Add main content here -->
            {% for product in products %}
            <h1>{{product.name}}</h1>
            {% endfor %}
        </div>

    </section>
    {% endif %}
    
    <section id="store" class="dashboard-section">Contenido de Tienda</section>

    <section id="statistics" class="dashboard-section">Contenido de Estadísticas</section>

</div>





    
{% endblock main_content %}


{% block extra_scripts %}

    <!-- Add extra scripts.js here -->
     <script src="{% static 'products/js/dashboard.js' %}"></script>
{% endblock extra_scripts %}