


{% if flag %}
    <h3>Datos de Retiro</h3>

    <div class="cont-form-grid mt-2">
        <div class="d-flex-col gap-1">
            <label for="name_retiro"><b>Nombre quien retira</b></label>
            <input type="text" name="name_retiro">
        </div>

        <div class="d-flex-col gap-1">
            <label for="dni_retiro"><b>DNI quien retira</b></label>
            <input type="text" name="dni_retiro">
        </div>
    </div>

{% else %}
    <h3>Datos de Envío</h3>

    <div class="cont-form-grid mt-2">
        <div class="d-flex-col gap-1">
            <label for="province"><b>Provincia</b></label>
            <select name="province" id="id_province">
                {% for key, value in provinces %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="d-flex-col gap-1">
            <label for="city"><b>Ciudad</b></label>
            <input type="text" name="city">
        </div>
    </div>

    <div class="cont-form-grid mt-2">
        <div class="d-flex-col gap-1">
            <label for="address"><b>Domicilio Completo</b></label>
            <input type="text" name="address">
        </div>
        <div class="d-flex-col gap-1">
            <label for="postal_code"><b>Código Postal</b></label>
            <input type="text" name="postal_code">
        </div>
    </div>

    <div class="cont-form-grid mt-2">
        <div class="d-flex-col gap-1">
            <label for="detail"><b>Detalles del Envío</b></label>
            <input type="text" name="detail">
        </div>
    </div>
{% endif %}