

{% extends "home/base.html" %}


{% load static %}
{% load custom_filters %}


{% block extra_head %}
	<link rel="stylesheet" href="{% static 'orders/css/order_page.css' %}">
{% endblock %}



{% block main_content %}

<!-- Primera fila -->
<div class="d-flex mb-3 gap-1">
	<a class="btn btn-paralelogramo" href="{% url 'Home' %}">
		<span class="text-normal"> Home </span>
	</a>
	
	<a class="btn btn-paralelogramo d-lg-block" href="{% url 'cart_page_detail' %}">
		<span class="text-normal"> Mi Carrito </span>
	</a>

	<button class="btn btn-paralelogramo">
		<span class="text-normal"> Resumen Pedido </span>
	</button>
</div>


<div class="cont-order-page">
	<div> 
		<form id="form-order" class="form-container" method="POST" action="{% url 'valid_order_form' %}">
			{% csrf_token %}
			<h1> Tus Datos </h1>

			<!-- Nombre y Apellido -->
			<div class="cont-form-grid mt-2">
				<div class="d-flex-col gap-1">
					<label for="first_name"><b>Nombre</b></label>
					<input type="text" name="first_name" value="{{ user.first_name|default:'' }}" required>
				</div>
				<div class="d-flex-col gap-1">
					<label for="last_name"><b>Apellido</b></label>
					<input type="text" name="last_name" value="{{ user.last_name|default:'' }}" required>
				</div>
			</div>

			<!-- Teléfono y Email -->
			<div class="cont-form-grid mt-2">
				<div class="d-flex-col gap-1">
					<label for="telefono-cod"><b>Celular</b></label>
					<input type="text" name="cellphone" value="{{ user.cellphone|default:'351' }}" required>
				</div>
				<div class="d-flex-col gap-1">
					<label for="email"><b>Email</b></label>
					<input type="email" name="email" value="{{ user.email|default:'' }}" required>
				</div>
			</div>

			<!-- DNI -->
			<div class="cont-form-grid mt-2">
				<div class="d-flex-col gap-1">
					<label for="dni"><b>DNI</b></label>
					<input type="text" name="dni" value="{{ user.dni|default:'351' }}" required>
				</div>
			</div>

			<!-- Aclaración del pedido -->
			<div class="w-100 mt-2 mb-3">
				<div class="d-flex-col gap-1">
					<label for="detail_order"><b>Aclaración del pedido</b></label>
					<textarea name="detail_order"></textarea>
				</div>
			</div>

			<!-- Extra form fore Retire -->
			<section id="retire-form">
				<h3>Datos de Retiro</h3>

				<div class="cont-form-grid mt-2">
					<div class="d-flex-col gap-1">
						<label for="name_retiro"><b>Nombre quien retira</b></label>
						<input type="text" name="name_retire">
					</div>

					<div class="d-flex-col gap-1">
						<label for="dni_retiro"><b>DNI quien retira</b></label>
						<input type="text" name="dni_retire">
					</div>
				</div>
			</section>

			<!-- Extra form fore Shippin -->
			<section id="shippin-form">
				<h3>Datos de Envío</h3>

				<div class="cont-form-grid mt-2">
					<div class="d-flex-col gap-1">
						<label for="province"><b>Provincia</b></label>
						<select name="province" id="id_province">
							{% for key, value in provinces %}
								<option value="{{ key }}">{{ value }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="d-flex-col gap-1">
						<label for="city"><b>Ciudad</b></label>
						<input type="text" name="city" value="{{ user.city|default:'' }}">
					</div>
				</div>

				<div class="cont-form-grid mt-2">
					<div class="d-flex-col gap-1">
						<label for="address"><b>Domicilio Completo</b></label>
						<input type="text" name="address" value="{{ user.address|default:'' }}">
					</div>
					<div class="d-flex-col gap-1">
						<label for="postal_code"><b>Código Postal</b></label>
						<input type="text" name="postal_code">
					</div>
				</div>

				<div class="cont-form-grid mt-2">
					<div class="d-flex-col gap-1">
						<label for="detail"><b>Detalles del Envío</b></label>
						<textarea name="detail"></textarea>
					</div>
				</div>
			</section>

			<!-- Hidden button that will be fired from JavaScript -->
			<button type="submit" id="submit-hidden" hidden></button>
		</form>

		<div class="form-container cont-confirm-btn">
			<button class="btn btn-main" id="confirm-order-btn"> 
				<b class="text-mobile">Confirmar Pedido</b> 
			</button>
		</div>
	</div>


	<!--  SEGUNDA COLUMNA   -->
	<div class="d-flex-col gap-2 check-group">

		<!-- Open Modal -->
		<button class="btn btn-main mt-1 mb-2 justify-center" id="order-btn"> 
			<b>Ver tu Pedido</b>
		</button>

		<div class="container-space-between"> 
			<b>Metodo de Pago:</b>
			<b class="payment-method">Ninguno</b>
		</div>

		<div class="container-space-between"> 
			<b>Metodo de Envío:</b>
			<b class="shipment-method">Ninguno</b>
		</div>

		<img alt="img mercado pago" class="mb-3 mt-3"
		src="https://epicbikes.com.ar/wp-content/uploads/2019/09/mercadopago-logo-fondo-transparente-300x142.png">

		<!-- Comienza opciones 		 -->
		<section id="payment-methods-section" class="d-flex-col gap-1">
			<hr class="text-primary">
			<b>Métodos de Pago</b>

			{% for payment in payment_methods %}
			<div class="cont-label-options cont-border">
			  
			  	<label class="label-option mb-1">
					<input type="radio" name="payment" 
					value="{{ payment.name }}" data-index="{{ payment.id }}"
					class="label-option__input">
				
					<span class="label-option__checkmark"></span>
					
					<div class="container-space-between w-100">
						<b>{{ payment.name }}</b>
					</div>
				</label>
			  
				<p class="label-method__description">{{ payment.description }}</p>
			</div>
			{% endfor %}
		</section>
		
		<section id="shipping-methods-section" class="d-flex-col gap-1">
			<hr class="text-primary">
			<b>Métodos de Envío</b>

			{% for envio in envios_methods %}
			<div class="cont-label-options cont-border">
			  
			  	<label class="label-option mb-1">
					<input type="radio" name="envio" 
					value="{{ envio.name }}" data-index="{{ envio.id }}" 
					data-price="{{ envio.price|floatformat:'-2' }}"
					class="label-option__input">
				
					<span class="label-option__checkmark"></span>
					
					<div class="container-space-between w-100">
						<b>{{ envio.name }}</b>
						<b>
							{% if envio.price == 0 %}
							Gratis
							{% else %}
							$ {{envio.price|intdot}}
							{% endif %}
						</b>
					</div>
				</label>
			  
				<p class="label-method__description">{{ envio.description }}</p>
			</div>
			{% endfor %}
		</section>
		
	</div>
</div>


<div class="modal" id="modal-content">
	{% include "orders/modal_order.html" %}
</div>

<div class="overlay" id="modal-overlay">
	

</div>

{% endblock %}


{% block extra_scripts %}

	<script src="{% static 'orders/js/order_page.js' %}"> </script>

{% endblock %}
