

:root {
    --height-cont-btn: 32px;
}

.cont-page {
    display: grid;
    grid-template-columns: 1fr;
}

.cart-view-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    
    padding: 16px 16px;
    padding-bottom: 0;
    width: 100%;    /* edit mobile */
    max-width: 100%;
}

.cart-view-header {
    display: none; /* Ocultar la cabecera en móvil */
}

.cart-row {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr; /* 2 columnas en móvil */
    grid-template-rows: 1.25fr 0.25fr 0.25fr 0.75fr; /* 3 filas en móvil */
    grid-template-areas:
        "image name name"
        "image quantity actions"
        "image . ."
        "price price subtotal";

    column-gap: 8px;
    row-gap: 8px;
    height: 150px;
    max-height: 150px;
    border-bottom: 1px solid var(--text-secondary);
}

.cart-row .d-flex-col {
    flex-direction: row;
}

/* Asignar áreas a los elementos */
.cart-row div:nth-child(1) { grid-area: image; } /* Imagen */
.cart-row div:nth-child(2) { grid-area: name; } /* Nombre */
.cart-row div:nth-child(3) { grid-area: price; } /* Precio */
.cart-row div:nth-child(4) { grid-area: quantity; } /* Cantidad */
.cart-row div:nth-child(5) { grid-area: subtotal; } /* Subtotal */
.cart-row div:nth-child(6) { grid-area: actions; } /* Acciones */

/* Subtotal */ /* Acciones */
.cart-row div:nth-child(5),
.cart-row div:nth-child(6) { 
    align-items: center !important;
    justify-content: flex-end !important;
    align-self: flex-start !important;
}

.product-container-conts {
    width: 75%;
    border: 1px solid var(--text-primary);
    height: var(--height-cont-btn);
}


@media (max-width: 992px) {
    .cart-row .mt-1,
    .cart-row .mt-2 {
        margin-top: 4px !important;
    }
}

@media (min-width: 481px) {
    .product-container-conts {
        width: 40%;
    }

    .cart-row {
        grid-template-columns: 0.75fr 1fr 1fr; /* 2 columnas en móvil */
        grid-template-rows: 0.5fr 0.5fr 0.5fr; /* 3 filas en móvil */
        grid-template-areas:
            "image name actions"
            "image quantity ."
            "image price subtotal";

        column-gap: 16px;
        padding: 6px 0;
        height: 220px;
        max-height: 220px;
    }

    /* Asignar áreas a los elementos */
    .cart-row div:nth-child(1) { grid-area: image; } /* Imagen */
    .cart-row div:nth-child(2) { grid-area: name; } /* Nombre */
    .cart-row div:nth-child(3) { grid-area: price; } /* Precio */
    .cart-row div:nth-child(4) { grid-area: quantity; } /* Cantidad */
    .cart-row div:nth-child(5) { grid-area: subtotal; } /* Subtotal */
    .cart-row div:nth-child(6) { grid-area: actions; } /* Acciones */
}

/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 993px) {
    :root {
        --height-cont-btn: 50px;
    }

    .cont-page {
        grid-template-columns: 2fr 1fr;
        gap: 16px;
    }

    /* Contenedor principal */
    .cart-view-container {
        width: calc(100% - 8px);     /* edit mobile */
    }
    
    /* Cabecera del carrito */
    .cart-view-header {
        display: grid;
        grid-template-columns: 1fr 1.7fr 1.1fr 1fr 1.2fr 0.5fr;
        gap: 8px;
    
        border-bottom: 1px ridge var(--text-secondary);
        padding: 10px 0;
        color: var(--text-primary);
    }
    
    .cart-row {
        display: grid;
        grid-template-columns: 1fr 1.7fr 1.1fr 1fr 1.2fr 0.5fr;
        grid-template-areas: none; /* Eliminamos las áreas definidas para móvil */
        grid-template-rows: none;
    
        row-gap: 16px;
        column-gap: 8px;
        padding: 0;
    
        height: 111px;
        max-height: 111px;
    }

    /* Subtotal */ /* Acciones */
    .cart-row div:nth-child(5),
    .cart-row div:nth-child(6) { 
        align-items: flex-start !important;
        justify-content: flex-start !important;
        align-self: flex-start !important;
    }

    /* Resetear las asignaciones de áreas para desktop */
    .cart-row div {
        grid-area: auto !important;
    }

    .cart-row .d-flex-col {
        flex-direction: column;
    }

    /* Contenedor interno para los botones y el input */
    .product-container-conts {
        width: 90%;
    }
}


.image-container {
    height: 100%;
    width: 100%;
}

.product-container-conts button {
    color: var(--text-primary);
    background-color: var(--bg-secondary-light);
    width: 25px;    /*  mobile */
    height: calc(var(--height-cont-btn) - 2px);
    transition: transform 0.5s ease;
}

.product-container-conts button:hover i,
.product-container-conts button:active i {
    transform: scale(1.1);
}

.cart-view-input-qty {
    text-align: center;
    font-size: var(--font-small);
    color: var(--text-primary);
    border: none;
    outline: none;
    width: calc(100% - var(--height-cont-btn) - 2px ); /*  mobile */
    height: var(--height-cont-btn);
    background-color: transparent;
}

.btn-like {
    max-height: var(--height-cont-btn);
    max-width: var(--height-cont-btn);
}

.cart-view-btn-delete {
    background: none;
    border: none;
    padding: 0.5rem;
    color: var(--text-secondary);
    max-height: var(--height-cont-btn);
    max-width: var(--height-cont-btn);
    transition: transform 0.3s ease, color 0.3s ease;
}

.cart-view-btn-delete:active,
.cart-view-btn-delete:hover {
    color: var(--red-color);
    transform: scale(1.2);
}

.btn-main {
    text-transform: capitalize;
    padding: 10px 20px;
}

/* para los cupones */
.container-coupon {
    width: 100%; 
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 16px;
    padding-right: 16px;
    gap: 10px;
}

.container-coupon input {
    border-radius: 2px;
    border: 1px solid var(--text-primary);
    padding-left: 8px;
}

/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 993px) {
    /* para los cupones */
    .container-coupon {
        width: 60%; 
        padding: 0;
    }
}

/*
    Segunda Columna 
*/
.cart-view-container-col-2 {
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
    width: calc(100% - 8px);
    max-width: 100%;
    background-color: var(--bg-primary);
}

.text-discount {
    color: var(--red-color);
    font-size: var(--font-normal);
}

.total-divider {
    border: none;
    height: 1%;
    background-color: var(--text-primary);
    margin: 5px 0;
}
