

.swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}


/* =========================================================================================
            CAROUSEL PRODUCTS CONTAINERS
/* ========================================================================================= */
/* Carousel container tittle and tittle stuff */
.carousel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    border-bottom: 4px solid var(--main-color);
    margin-bottom: 1%;
}

.c-title {
    color: #fff;
    font-size: var(--font-normal);
    font-weight: var(--font-bold-weight);
    background-color: var(--main-color);

    position: relative;
    display: flex;
    align-items: center;
    
    padding-left: 3%;
    width: 50%;
    height: 100%;
    z-index: 1;
}

/* Efecto de inclinación */
.c-title:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10%;
    width: 50%;
    background: var(--main-color);
    background-color: var(--main-color);
    -webkit-transform: skew(22deg); /* Para Safari y versiones antiguas de Chrome */
    -ms-transform: skew(22deg); /* Para versiones antiguas de IE */
    transform: skew(25deg);
    z-index: -1;
}


/* Buttons */
.swiper-button-prev-product::after,
.swiper-button-next-product::after {
    content: ''; /* Elimina el contenido predeterminado */
    display: none; /* Asegúrate de que no se muestren */
}

.swiper-button-prev-product,
.swiper-button-next-product {
    position: static;     /* Elimina el posicionamiento automático */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    color: var(--text-primary);
    font-size: var(--font-medium) !important;
    border: 1px solid var(--text-secondary);
    background-color: var(--bg-primary);

    border-radius: 5px;
    width: 30px;
    height: 30px;

    transition: transform 0.5s ease;
}

.swiper-button-prev-product:active,
.swiper-button-next-product:active {
    transform: scale(1.1);
    cursor: pointer;
}

/* desktop (min. 992px) */
@media (min-width: 992px) {
    .swiper-button-prev-product:hover,
    .swiper-button-next-product:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}


/*
    Carousel products containers stuff
*/
.swiper-products {
    width: 100%;
    max-width: 100%;
    overflow: hidden; /* Evita que el contenido desborde */
}

.swiper-products .swiper-wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-left: 0.6%;

    transition: transform 0.2s ease-in-out;  /*  Swiper gestiona esto automáticamente */
    height: 440px;
}

.carousel-product-item {
    cursor: grab;
    background: var(--bg-primary);
    /* border: 1px solid #000;
    border-radius: 2px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    user-select: none; 
    -webkit-user-select: none; /* Safari */ 
    -moz-user-select: none; /* Firefox */ 
    -ms-user-select: none; /* Internet Explorer/Edge */ 
    
    width: 48.5%;     /*  edit mobile */
    /* Adjusting the gap between slides should be done this way
    to avoid continuous overflow if done with a gap */
    margin-right: 1.5% !important;    /*  edit mobile */

    font-size: var(--font-small-plus);
    flex-shrink: 0;  /* Evita que las diapositivas se reduzcan */
    height: 100%;
    max-height: 400px;

    position: relative;
    overflow: hidden;
}

/* Contenedor extensor para button */
.carousel-extender-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    /* edit mobile */
    height: 50px;
}


/* Botón dentro del extensor */
.btn-carousel-add-cart {
    height: 32px;
    width: 70%;
}


/* Styles for tablets (mín. 481px to max. 768px) */
@media (min-width: 481px) {
    .carousel-product-item {
        width: 32%;
        margin-right: 1.5%;
    }
}


/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 993px) {
    .carousel-product-item {
        width: 23.5%;    /* edit mobile */
        margin-right: 1.5%;  /* edit mobile */
        max-height: 380px;
        transition: max-height 0.3s ease-in-out;
    }

    .carousel-product-item:hover {
        max-height: 430px;
    }

    .carousel-extender-btn {
        align-items: flex-start;
        transform: translateY(100%); /* Oculta inicialmente */
        transition: transform 0.3s ease;
    }

    .carousel-product-item:hover .carousel-extender-btn {
        transform: translateY(0);
    }
}

/* 
    CARDS PRODUCTS CAROUSEL
        /* Product Image 
            Parent container
            min-height: 380px;
            max-height: 380px;
*/
.image-container {
    width: 100%;
    height: 160px;
}

/* Estilos para el figcaption */
.carousel-product-data {
    /* nos quedan 380px - 160px(img height) -10px padding = 210px */
    height: 320px;
    max-height: 320px;

    padding: 8px 10px 2px 10px; /*  padding: top right bottom left; */
    background: var(--bg-primary);

    display: grid;
    grid-template-rows: 50px 32px 25px 85px; /*  edit mobile */
}


/* Estilos para el precio normal */
.price-line-through {
    color: var(--text-secondary);
    text-decoration: line-through; /* Tachado para mostrar que es el precio normal */
}

/* Tablets (máx. 992px) */
@media (min-width: 992px) {
    /* Estilos para el figcaption */
    .carousel-product-data {
        /* nos quedan 220px de altura -50px altura from extender button   170 */
        grid-template-rows: 60px 32px 32px 85px; /* edit mobile */
    }
}



/* Estilos generales para el modal */
.carousel-modal {
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 85vh;
    width: 80%;
    z-index: var(--z-index);
}

/* Estilos cuando el modal está cerrado */
.carousel-modal[data-state="closed"] {
    display: none;
    pointer-events: none; /* Evita interacciones cuando el modal está cerrado */
}

/* Estilos cuando el modal está abierto */
.carousel-modal[data-state="open"] {
    display: block;
    pointer-events: auto; /* Permite interacciones cuando el modal está abierto */
}