<!-- Dato para el futuro, tiene un js asociado en el base.js sobre su comportamiento al clickear
 por fuera y animaciones en su despliegue y arrow rotate -->

<!-- Botón para desplegar el menú -->
<button class="nav-link justify-content-between" 
        id="navbarDropdown" aria-expanded="false" 
        aria-haspopup="true" aria-label="Cats Menu">
    
    <div class="justify-content-start">
        <i class="fas fa-bars ms-1"></i>
        <span>Nuestros Productos</span>
    </div>
    <i class="fas fa-chevron-down me-1 arrow-drop"></i>
</button>

<!-- Lista de categorías -->
<ul class="dropdown-menu" id="categories-drop" aria-labelledby="navbarDropdown">
    <li class="dropdown-item"></li>

    {% for category, subcategories in categories_dropmenu.items %}
        <li class="dropdown-item"">
            <a class="d-flex justify-content-between align-content-center" 
            href="{% url 'pl_category' cat_slug=category.slug %}">
                {{ category.name }}
                {% if subcategories %}
                    <i class="fas fa-chevron-right justify-content-center align-content-center"></i>
                {% endif %}
            </a>
            
            <!-- Submenú -->
            {% if subcategories %}
                <ul class="sub-dropdown-content">
                    {% for subcategory in subcategories %}
                        <li class="dropdown-item">
                            <a href="{% url 'pl_subcategory' cat_slug=category.slug subcat_slug=subcategory.slug %}">
                                {{ subcategory.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>