


{% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <figure class="product-card" onclick="window.location.href='{% url 'product_detail' product.id product.slug %}'">
            <!-- Imagen del Producto -->
            <div class="image-container">

                {% for image in product.images.all %}
                    {% if image.main_image %}
                        <img src="{{ image.image_url }}" alt="{{ product.name }}">
                    {% endif %}
                {% endfor %}

                <!-- Botón de la esquina -->
                <button class="corner-box">
                    <i class="fas fa-expand-arrows-alt"></i>
                </button>
            </div>

            <!-- Información del Producto -->
            <figcaption class="product-info p-2" onclick="event.stopPropagation();">
                <a href="{% url 'product_detail' product.id product.slug %}">
                    <h6>{{ product.name }}</h6>
                </a>

                {% if product.stock > 4 %}
                    <span class="bold-green">Disponible</span>
                {% elif product.stock > 0 and product.stock < 4 %}
                    <span class="bold-orange">Stock Bajo</span>
                {% else %}
                    <span class="bold-red">Sin Stock</span>
                {% endif %}

                <strong>${{ product.price }}</strong>

                
                <!-- Botón de agregar al carrito -->
                <div class="prod-extender-btn">
                    <button class="prod-add-button" data-product-id="{{product.id}}">
                        Agregar
                    </button>
                </div>

            </figcaption>
        </figure>

    </div>
{% endfor %}