{% extends "home/base.html" %}

{% load static %}
{% load humanize %}
{% load custom_filters %}

<!-- For More CSS Modules -->
{% block extra_head %}
    <title> {{ store.name }} | {{ product.name}} </title>
    <link href="{% static 'productos/css/products_detail.css' %}" rel="stylesheet">
{% endblock %}


<!--  ========== SEPARADOR MAIN_CONTENT ========== -->
{% block content %}

<!-- Primera fila -->
<div class="d-flex mt-3 mb-4 gap-3">
    <div class="col-lg-12">
        <button class="btn-paralelogramo px-lg-3"
            onclick="window.location.href='{% url 'product_list' %}'">
            <span> Todos Nuestros Productos </span>
        </button>
        
        {% if category %}
            <button class="btn-paralelogramo px-lg-3"
            onclick="window.location.href='{% url 'pl_category' category.slug %}'">
                <span> 
                    {{ category.name }}
                </span>
            </button>
        {% endif %}
        

        {% if subcategory %}
            <button class="btn-paralelogramo px-lg-3"
            onclick="window.location.href='{% url 'pl_subcategory' category.slug subcategory.slug %}'">
                <span> 
                    {{ subcategory.name }}
                </span>
            </button>
        {% endif %}
    </div>
</div>

<div class="d-flex gap-3">

    <!-- PRIMERA COLUMNA -->
    <div class="col-lg-4">

        <figure id="prod-container">
            <!-- Contenedor de imagen principal -->
            <div class="prod-main-img-container">
                <img id=prod-main-image class="prod-image-preview prod-zoomed"
                    src="{{ main_image_url }}" alt="{{ product.name }}">

                <!-- Botón de la esquina -->
                <button class="prod-main-corner-box" id="zoom-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

                <!-- 
                Contenedor para la imagen en pantalla completa 
                -->
                <div id="fullscreen-overlay" class="fullscreen-overlay px-5 gap-5"
                    data-index="{{product.id}}">

                    <!-- Flecha izquierda -->
                    <button class="arrow-button left-overlay">
                        <i class="fas fa-chevron-left"></i>
                    </button>

                    <!-- Contenedor para la imagen (nuevo contenedor agregado) -->
                    <div id="image-container" class="p-0 m-0"> </div>

                    <!-- Flecha derecha -->
                    <button class="arrow-button right-overlay">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>

            <!-- Flechas de navegación -->
            <figcaption class=" justify-content-center align-items-center gap-5">
                <!-- Flecha izquierda -->
                <button class="arrow-button left">
                    <i class="fas fa-chevron-left"></i>
                </button>
                
                <!-- Flecha derecha -->
                <button class="arrow-button right">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </figcaption>
        </figure>
        
        <!-- Contenedor de abajo con las imagenes -->
        <div class="prod-small-images-row gap-3 mt-3">
            <figure class="prod-small-image-container">
                <img class="prod-small-image" src="{{ main_image_url }}" alt="{{ product.name }}">
            </figure>

            {% for image in images_urls %}
                <!-- El resto de imágenes -->
                <figure class="prod-small-image-container" >
                    <img class="prod-small-image" src="{{ image }}" alt="{{ product.name }}">
                </figure>
            {% endfor %}
        </div>
    </div>


    <!-- SEGUNDA COLUMNA -->
    <div class="col-lg-5 px-3">

        <h3 class="mb-2 px-1 col-11">{{ product.name }}</h3>

        <!-- Cuadros de Stock Y Marca -->
        <div class="d-flex mt-4 gap-2">
            <div class="product-info gap-1 p-2 col-lg-2">
                <p>Cod:</p>
                <span># 100{{product.id}}</span>
            </div>

            <div class="product-info gap-1 p-2 col-lg-3">
                <p>Marca:</p>
                <a href="#" class="brand-value"><strong>{{product.brand}}</strong></a>
            </div>

            <div class="product-info gap-1 p-2 col-lg-4">
                <p>Stock:</p>

                {% if product.stock > 4 %}
                    <span style="color: green;"><strong>DISPONIBLE</strong></span>
                {% elif product.stock == 0 %}
                    <span style="color: red;"><strong>NO STOCK</strong></span>
                {% else %}
                    <span style="color: orange;"><strong>STOCK BAJO</strong></span>
                {% endif %}
            </div>
        </div>

        <!-- Cuadro de metodo de pago -->
        <div class="payment-info-box mt-3">
            <div class="mt-1 payment-info-content">
                <div class="payment-icon px-4">
                    <!-- Aquí puedes reemplazar el enlace del icono con el adecuado -->
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/tarjeta-de-credito-bloqueada-12012016-9801418.png"
                            alt="Icono de Tarjetas">
                </div>
                <div class="payment-text">
                    <p>Medios de Pagos</p>
                    <a href="#"><p>Ver medios de pago</p></a>
                </div>
            </div>
            <div class="mt-1 payment-logo">
                <img src="https://www.shutterstock.com/image-vector/rivne-ukraine-may-25-2023-260nw-2308151527.jpg"
                        alt="Logo de Medios de Pago">
            </div>
        </div>
    </div>

    <!-- TERCERA COLUMNA -->
    <div class="col-lg-3 payment-container px-4">

        <div class="payment-child-container">
            <p class="price-tag">
                <strong>${{ product.price|intdot }}</strong>
            </p>
            <span>
                PRECIO ESPECIAL EFECTIVO O TRANSFERENCIA
            </span>
        </div>

        <div class="bank-child-container mt-3">
            <span> Promociones Bancarias </span>
            <img src="https://firebasestorage.googleapis.com/v0/b/foxtienda-ee7dc.appspot.com/o/1058%2Flogos%2F73479-logos-promos-tarjetas-10.jpg?alt=media&token=983ec195-3d1f-4516-bafc-4ac19610a26d"
                        alt="Logo de Medios de Pago">
        </div>

        <!-- Recuadro de botones -->
        <div class="d-flex mt-4">

            <div class="quantity-container-detail px-1 justify-content-between col-5">
                <button class="btn prod-btn-qty" onclick="decrement(this)">
                    -
                </button>

                <input type="text" class="form-control prod-input-qty" 
                data-index="{{product.id}}" value="1" min="1">

                <button class="btn prod-btn-qty" onclick="increment(this)">
                    +
                </button>
            </div>

            <div class="col-1"></div>

            <button class="btn-add-item gap-1 col-6" data-index="{{ product.id }}">
                <span>Agregar</span>
                <i class="fas fa-shopping-cart"></i>
            </button>

        </div>

    </div>
</div>


{% endblock %}



<!-- SCRIPTS -->
{% block extra_scripts %}


<script src="{% static 'productos/js/product_detail.js' %}"></script>

{% endblock %}
