


{% extends "home/base.html" %}

{% load static %}
{% load custom_filters %}

<!-- Verifica los datos del contexto -->


{% block extra_head %}


    <script src="https://sdk.mercadopago.com/js/v2"></script>

    <link rel="stylesheet" href="{% static 'payments/css/payments.css' %}">


{% endblock %}


{% block main_content %}

    <h2 class=""> ¡Tu pedido se registró con éxito! </h2>

    <div>
        <p> 
            1. Si abonas con TARJETA y retiras en local, ÚNICAMENTE  el titular con tarjeta 
            utilizada en mano y DNI puede retirar, sin excepción.
        </p>
        <p> 
            2. Si abonas por TRANSFERENCIA* carga el comprobante dentro de 1 hora de haber 
            realizado el pedido, caso contrario será cancelado, sin excepción.

        </p>
        <p> 
            3. Si abonas con CRIPTOMONEDA: Pedí el link de pago "Binance Pay" a nuestro Whatsapp. 
            Luego carga el comprobante de pago, caso contrario tu pedido será cancelado sin excepción.
        </p>
        <p> 
            *La verificación por TRANSFERENCIA pueden demorar 24hs por demora bancaria y es ajeno 
            a nosotros. Veras actualizado el estado de tu pedido una vez confirmado el pago, 
            por favor sea paciente.
        </p>

        <p> Te saluda atentamente, el team {{ store.name }}. </p>
    </div>

    <hr>

    <div class="container-fluid">
        <div class="d-flex"> 
            <div class="col-6"> 
                <h3> Orden Pendiente de Pago</h3>
                <p> Tenes hasta una hora para finalizar tu compra sino te pedido será cancelado </p>
            </div>
            <div class="col-6">
                <img class="pending-order-img" src="{% static 'img/pending_order.jpg' %}" alt="">
            </div>
        </div>
    </div>

    <hr>

    <ul>
        <li> Fecha: {{ date }} </li>
        <li> Hora: {{ hour }} </li> 
        <li> Método de pago: {{ payment.name }} </li> 
        <li> Método de envío: {{ shipment_method.name }} </li> 
        
        <li>  
            {% if shipment_method.id == 1 %}
                Dirección de retiro: {{ store.addreess }}
            {% else %}  
                Dirección de retiro: {{ payer.address.street_name }}
            {% endif %}
        </li>
    
        <li> Nombre: {{ payer.name }} {{ payer.surname }} </li>
        <li> Email: {{ payer.email }} </li> 
    </ul>

    <div class="container-order">
        <div class="order-view-header">
            <div class="order-col image-col"> </div>
            <div class="order-col cart-view-product">Producto</div>
            <div class="order-col justify-content-end">Precio</div>
            <div class="order-col justify-content-end">Cantidad</div>
            <div class="order-col justify-content-end">Sub-Total</div>
        </div>
    
        <div class="order-view-content">
            {% for item in items %}                 
                <div class="order-row">
                    <!-- Imagen del producto -->
                    <div class="order-col image-col">
                        <img src="{{ item.product.main_image }}" class="img-sm" alt="{{ item.product.name }}">
                    </div>
    
                    <!-- Nombre del producto -->
                    <div class="order-col">
                        <div class="cart-view-product-name">{{ item.product.name }}</div>
                    </div>
    
                    <!-- Precio -->
                    <div class="order-col justify-content-end">
                        <span>${{ item.product.price|intdot }}</span>
                    </div>
    
                    <!-- Catnidad -->
                    <div class="order-col justify-content-end">
                        <span>{{ item.quantity }}</span>
                    </div>
    
                    <!-- Subtotal -->
                    <div class="order-col justify-content-end">
                        ${{ item.subtotal|intdot }}
                    </div>
                </div>
    
            {% endfor %}

            <hr>

            <!-- Completamos con otros datos -->
            <div class="order-row">
                <span> Envio </span>    
                <span> ${{ shipment_method.price|intdot }}</span>
            </div>

            <div class="order-row">
                <span> Descuento </span>    
                <span> ${{ discount|intdot }}</span>
            </div>

            <hr>

            <div class="order-row">
                <span> Total </span>    
                <span> ${{ total_cart|intdot }}</span>
            </div>

        </div>
    </div>
    
    <!-- brick de mercado pago -->
    <div class="container-mp"> 
        <div id="wallet_container"></div>
    </div>

{% endblock %}



{% block extra_scripts %}
    <script>
         // Usa la public key que pasaste desde el backend
        const mp = new MercadoPago('{{ public_key }}', { 
            locale: 'es-AR'
        });

        mp.bricks().create("wallet", "wallet_container", {
            initialization: {
                // Usa el preference_id que pasaste desde el backend
                preferenceId: "{{ preference_id }}",  
                redirectMode: "self",    // use 'blank' for open a new tab
            },
            customization: {
                texts: {
                    valueProp: 'smart_option',
                },
            },
         });
    </script>
{% endblock %}

