{% extends "home/base.html" %}

{% load static %}


{% block extra_head %}

    <link href="{% static 'payments/css/sucess.css' %}" rel="stylesheet">

{% endblock %}



{% block content %}

    <h1>¡Pago realizado con éxito!</h1>
    <p>Gracias por tu compra. Tu pedido ha sido procesado.</p>

    <p>MENSAJE : {{ message }} </p>

    <p>MENSAJE_Error : {{ message_error }} </p>

    <p>Detalles del pago:</p>


    <div class="container my-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h2>Detalle Pedidos </h2>
            </div>
            <div class="card-body">
                <!-- Buyer Information -->
                <h4 class="mb-3"> Información comprador </h4>
                <p><strong>Name:</strong> {{ factura.buyer_name }} {{ factura.buyer_last_name }}</p>
                <p><strong>Email:</strong> {{ factura.email }}</p>
                <p><strong>Phone:</strong> {{ factura.cellphone }}</p>
                <p><strong>DNI:</strong> {{ factura.buyer_dni }}</p>
                
                <!-- Shipping Information -->
                <h4 class="mb-3">Shipping Information</h4>
                <p><strong>Shipping Method:</strong> {{ envio_method.name }}</p>
                {% if envio_method.id == 1 %}
                    <p><strong>buyer_name:</strong> {{ envio.buyer_name }}</p>
                    <p><strong>buyer_dni:</strong> {{ envio.buyer_dni }}</p>
                {% else %}
                    <p><strong>Address:</strong> {{ envio.address }}</p>
                    <p><strong>City:</strong> {{ envio.city }}</p>
                    <p><strong>Province:</strong> {{ envio.province }}</p>
                    <p><strong>Postal Code:</strong> {{ envio.postal_code }}</p>
                    <p><strong>Details:</strong> {{ envio.detail }}</p>
                {% endif %}

                <!-- Order Summary -->
                <h4 class="mb-3">Pedido</h4>
                <p><strong>Order ID:</strong> {{ order.id }}</p>
                <p><strong>Methodo de Pago:</strong> {{ payment.name }}</p>
                <p><strong>Status:</strong> {{ order.status.name }}</p>
                <p><strong>Factura Numero:</strong> ${{ factura.invoice_number }}</p>
                <p><strong>Total Items:</strong> ${{ factura.total_items }}</p>
                <p><strong>Costo de Envio:</strong> ${{ factura.shipment_cost }}</p>
                <p><strong>Costo Total:</strong> ${{ factura.total }}</p>

                <!-- Order Items -->
                <h4 class="mb-3">Pedido Items</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.price }}</td>
                            <td>${{ item.subtotal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'Home' %}" class="btn btn-secondary">Ir al Home</a>
                <a href="#" class="btn btn-primary"> Boton </a>
            </div>
        </div>
    </div>

    <div class="separador mt-3 mb-3"> </div>


    <div class="separador mt-3 mb-3"> </div>
    <div class="separador mt-3 mb-3"> </div>
    <div class="separador mt-3 mb-3"> </div>

    <h1>
        PARA DEBUG
    </h1>


    <h3> ITEMS </h2>
    <ul>
        {% for item in items_mp %}
            <li>
                {{ item.title }} - Cantidad: {{ item.quantity }} - Precio: {{ item.unit_price }}
            </li>
        {% empty %}
            <li>
                esto se supone que esta vacio correctametne xddd
            </li>

        {% endfor %}
    </ul>

    <div class="separador mt-3 mb-3"> </div>

    <h2> Carrito </h2>
    <ul>
        {% for item in cart.items.all %}
            <li>
                {{ item.product.name }} - Cantidad: {{ item.quantity }} - Precio: {{ item.product.price }}
            </li>
        {% empty %}
            <li>
                esto se supone que esta vacio correctametne vacio el carrito xddd
            </li>

        {% endfor %}
    </ul>
    
    <div class="separador mt-3 mb-3"> </div>
    
    <div> PAYER:  {{ payer }}  </div>

    <div class="separador mt-3 mb-3"> </div>

    <div> MENSAJE: {{ message }}  </div>
    
    <!-- Aquí podrías incluir algún icono de éxito -->
    <img src="https://www.mercadopago.com/org-img/MP3/home/logomp3.gif" alt="Pago exitoso">


    <div class="separador mt-3 mb-3"> </div>
    <div class="mt-3 mb-3"> </div>
    <p> PAYMENT: {{ payment_mp }} </p>

{% endblock %}


{% block extra_scripts %}
<!-- Aquí podrías incluir scripts adicionales si los necesitas -->
{% endblock %}