{% extends "home/base.html" %}

{% load static %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'users/css/register_user.css' %}">
{% endblock %}
    



{% block main_content %}

<div class="d-flex mt-3 mb-3 gap-1">
    <a class="btn btn-paralelogramo" href="{% url 'Home' %}">
        <span class="text-normal">Home</span>
    </a>

    <button class="btn btn-paralelogramo">
        <span class="text-normal">Registro</span>
    </button>
</div>


<div class="cont-page"> 
    <!-- Primera columna -->
    <div class="register-container cont-border">
        <h2 class="mb-2"> Registrarse </h2>
        <p>
            Puedes registrarte como un usuario del sitio, podras gestionar tus compras, 
            consultas y datos personales.
        </p>
        
        {% if flag_to_login %}
            <p>
                Por favor para continuar debe registrarse con una cuenta o puede logearse si asi
                lo desea
            </p>
        {% endif %}
    </div>

    <!-- Cuando el usuario ya esta logeado visualiza esto -->
    {% if user.is_authenticated %}
        <div class="w-100 d-flex">
            <b>
                No se como llegaste aca pero ya estas logeado...
            </b>
        </div>

    <!-- Cuando el usuario no esta logeado verá esto -->
    {% else %}
        <form id="register-form" class="register-container cont-border mb-3" method="POST" 
        action="{% url 'register_user' %}">
            {% csrf_token %}
            
            <!-- Fila para Email y Password { { form . email } }  { { form . password1 } } -->
            <div class="grid-form mb-3"> 
                <div class="d-flex-col gap-1">
                    <label for="email">
                        <b class="justify-start">E-mail</b>
                    </label>
                    <input type="email" name="email" required>
                </div>

                <div class="d-flex-col gap-1">
                    <label for="password">
                        <b class="justify-start">Password</b>
                    </label>
                    <input type="password" name="password" required>
                </div>
            </div>

            <!-- Fila para Nombre y Apellido -->
            <div class="grid-form mb-3">
                <div class="d-flex-col gap-1">
                    <label for="first_name">
                        <b class="justify-start">Nombre</b>
                    </label>
                    <input type="text" name="first_name" required>
                </div>

                <div class="d-flex-col gap-1">
                    <label for="last_name">
                        <b class="justify-start">Apellido</b>
                    </label>
                    <input type="text" name="last_name" required>
                </div>
            </div>

            <!-- Fila para Teléfono y Provincia -->
            <div class="grid-form mb-3">
                <div class="d-flex-col gap-1">
                    <label for="cellphone">
                        <b class="justify-start">Celular</b>
                    </label>
                    <input type="text" name="cellphone" required>
                </div>

                <div class="d-flex-col gap-1">
                    <label for="province" class="justify-start"><b>Provincia</b></label>
                    <select name="province" id="id_province">
                        {% for key, value in provinces %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Fila para Dirección -->
            <div class="grid-form mb-3">
                <div class="d-flex-col gap-1">
                    <label for="address">
                        <b class="justify-start">Dirección</b>
                    </label>
                    <input type="text" name="address" required>
                </div>
            </div>
            
            <!-- buttons form 		 -->
            <div class="grid-form mb-3">
                <button type="submit" class="btn btn-main">
                    <b>Crear</b>
                </button>

                <button type="button" class="btn btn-alt" id="have-account">
                    <b>Ya tengo cuenta</b>
                </button>
            </div>
        </form>
     {% endif %}

</div>

    

{% endblock %}


{% block extra_scripts %}

    <script src="{% static 'users/js/register_user.js' %}"></script>

{% endblock extra_scripts %}