

<button class="btn btn-header" id="user-button" aria-haspopup="true" aria-expanded="false" aria-label="User Menu">
    <i class="fas fa-user"></i>
</button>


<!-- Contenido del dropdown -->
<div class="dropdown-menu p-3" id="user-dropdown" aria-labelledby="user-button">

    <!-- Cuando el usuario ya esta logeado visualiza esto -->
    {% if user.is_authenticated %}

        <!-- Botón de Registro -->
        <a href="{% url 'Profile' %}" class="btn-widget-register">
            <i class="fas fa-user-circle"></i>
            <span id="user-email" data-email="{{user.email}}"
                data-name="{{user.first_name}}" data-last-name="{{user.last_name}}">
            </span>
        </a>

        <form class="widget-register-form" method="POST" action="{% url 'close_session' %}">
            {% csrf_token %}
            <button type="submit">
                <i class="fas fa-door-open"></i>
                <span class="ms-2">Cerrar Sesión</span>
            </button>
        </form>

    {% else %}
    
        <form id="widget-register-form" class="widget-register-form" action="{% url 'register_widget' %}">
            {% csrf_token %}

            <!-- Campo de Email 
              <input type="email" id="w-email" name="w-email" class="form-control" required>-->
            <div class="mb-3">
                <label for="email" class="form-label">    Email    </label>
                {{ widget_form.email }}
            </div>
        
            <!-- Campo de Password 
             <input type="password" id="w-password" name="w-password" class="form-control" required>-->
            <div class="mb-3">
                <label for="password" class="form-label">    Password    </label>
                {{ widget_form.password }}
            </div>
        
            <!-- Botón de Login -->
            <button type="submit" class="btn btn-primary w-100">    Login    </button>
        </form>
            
        
        <hr>

        <!-- Botón de Registro -->
        <a href="{% url 'register_user' %}" class="btn-widget-register">
            Register
        </a>

    {% endif %}
</div>

