

<!-- Contenido del dropdown -->
<div class="user-dropdown" data-state="null">

    <!-- Cuando el usuario ya esta logeado visualiza esto -->
    {% if user.is_authenticated %}

        <!-- Botón de Registro -->
        <a href="{% url 'user_profile' %}" class="btn btn-main mb-2 gap-2 btn-widget-register">
            <i class="ri-shield-user-line icon-medium"></i>
            <span> {{ user.email }} </span>
        </a>

        <form class="widget-close-form" method="POST" action="{% url 'close_session' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-alt gap-2 btn-widget-register-alt">
                <i class="ri-door-open-fill icon-medium"></i>
                <span>Cerrar Sesión</span>
            </button>
        </form>

    {% else %}
        <!-- Cuando el usuario no esta logeado verá esto -->
        
        <form class="widget-register-form mb-1" action="{% url 'widget_login' %}">
            {% csrf_token %}

            <!-- Campo de Email -->
            <div class="mb-2">
                <label for="email" class="justify-start mb-1">Email:</label>
                <input type="email" name="email" required>
            </div>
        
            <!-- Campo de Password -->
            <div class="mb-2">
                <label for="password" class="justify-start mb-1">Password:</label>
                <input type="password" name="password" required>
            </div>
        
            <!-- Botón de Login -->
            <button type="submit" class="btn btn-main btn-widget-register">
                Ingresar
            </button>
        </form>
            
        <!-- Botón de Registro -->
        <a href="{% url 'register_user_page' %}" class="btn btn-alt btn-widget-register-alt">
            Registrarse
        </a>

    {% endif %}
</div>

