

{% load static %}

<div class="mt-3">

    <div class="carousel-title">
        <div class="c-p-title">
            <i class="fa fa-heart"></i>
            <span> Favoritos </span>
        </div>

        <div class="d-flex gap-2 mb-1"> 
            <!-- Los botones se manejarán con Swiper -->
            <div class="swiper-button-prev">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="swiper-button-next">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>

    <!-- Contenedor del carrusel Swiper -->
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for product in products %}
            <figure class="swiper-slide carousel-producto-item" data-index="{{ forloop.counter0 }}" onclick="openModal({{ product.id }})">
                <img src="{{ product.main_image }}" alt="{{ product.name }}">

                <figcaption class="carousel-producto-datos">
                    <!-- Nombre del producto -->
                    <h3>{{ product.name }}</h3>
    
                    <div class="carousel-producto-info">
                        <div class="d-flex"> 
                            <strong>{{ product.stars }}</strong>
                            <strong class="stars">★</strong>
                        </div>
                        <!-- TOP 10 BUTTON SIDE -->
                        {% if user.is_authenticated %}
                            <button class="heart-button" onclick="alert('hola {{product.id}}')">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        {% endif %}
                    </div>

                    <!-- Categoría y Subcategory -->
                    <div class="carousel-producto-info">
                        {% if not product.available or product.stock == 0 %}
                            <div class="bold-red">No disponible</div>
                        {% elif product.stock <= 3 %}
                            <div class="bold-orange">Pocas unidades</div>
                        {% else %}
                            <div class="bold-green">Disponible</div>
                        {% endif %}
                    </div>
                    
                    {% if product.discount %}
                        <!-- descuento -->
                        <div class="carousel-producto-info">
                            <strong>Descuento: </strong>
                            <div class="d-flex gap-2"> 
                                <strong class="bold-red">% {{product.discount}} </strong> 
                                <strong class="bold-red"> OFF </strong>
                            </div>
                        </div>
        
                        <!-- Precios: Normal y Oferta -->
                        <div class="carousel-producto-info">
                            <div class="precio-normal"> Normal: </div>
                            <div class="precio-normal"> ${{ product.price }} </div>
                        </div>

                        <!-- Precio con descuento (calculado por JavaScript) -->
                        <div class="carousel-producto-info">
                            <div class="bold-red"> Oferta: </div>
                            <div id="p-price-w-discount" class="bold-red"> 
                                ${{ product.calc_discount }}
                            </div>
                        </div>
                    
                    {% else %}

                        <div class="carousel-producto-info">
                            <strong> ${{ product.price }} </strong>
                        </div>
                      
                    {% endif %}

                    
                </figcaption>

                <!-- Botón de agregar al carrito -->
                <div class="carousel-extender-btn">
                    <button class="carousel-btn-carrito" data-index="{{product.id}}">
                        <span>Agregar</span> 
                        <i class="fas fa-shopping-basket"></i> 
                    </button>
                </div>

            </figure>
            {% endfor %}
        </div>
    </div>

</div>




