

.user-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--bg-primary);
    box-shadow: 1px 1px 3px 0px var(--black-color);
    border: 3px solid var(--main-color);
    padding: 10px;
    width: 250px;
    z-index: var(--z-index-plus);
    overflow: hidden;
    
    /* Animación mejorada */
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px) scale(0.95);
    transform-origin: top right;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    /* cubic-bezier para easing más natural */
}

.user-dropdown > .dropdown-content {
    min-height: 0;
    overflow: hidden;
}

.user-dropdown[data-state="open"] {
    grid-template-rows: 1fr;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0) scale(1);
}

.user-dropdown[data-state="closed"] {
    grid-template-rows: 0fr;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px) scale(0.95);
}

/* Estilo de los inputs y el botón dentro del dropdown */
.widget-register-form input,
.btn-widget-register,
.btn-widget-register-alt {
    width: 100%;
    padding: 8px;
    height: 30px;
    font-size: var(--font-normal);
}

@media (min-width: 993px) {
    .widget-register-form input,
    .btn-widget-register,
    .btn-widget-register-alt {
        width: 100%;
        height: 40px;
    }
}
