{% extends "home/base.html" %}
{% load static %}


<!-- For More CSS Modules -->
{% block extra_head %}
    <title> Producto Categorias </title>
    <link href="{% static 'products/css/products_list.css' %}" rel="stylesheet">
{% endblock %}


<!-- Contenido principal de la pagina -->
{% block main_content %}

<div class="d-flex w-100 mt-3 mb-3 gap-1">
    <a class="btn btn-paralelogramo d-lg-block" href="{% url 'product_list' %}">
        <span> Todos Nuestros Productos </span>
    </a>
    
    {% if category %}
        <a class="btn btn-paralelogramo" href="{% url 'pl_category' category.slug %}">
            <span>{{ category.name }}</span>
        </a>
    {% endif %}

    {% if subcategory %}
        <a class="btn btn-paralelogramo" href="{% url 'pl_subcategory' category.slug subcategory.slug %}">
            <span>{{ subcategory.name }}</span>
        </a>
    {% endif %}

    {% if query %}
        <button class="btn btn-paralelogramo">
            <span>Resultados de la busqueda: '{{ query }}'</span>
        </button>
    {% endif %}
</div>

<div class="d-flex">
    <div class="first-col justify-start d-flex-col d-lg-block">
        
        <!-- TOP 10 BUTTON SIDE -->
        <button class="btn-top-10 container-space-between justify-center btn btn-main gap-2">
            <i class="ri-star-fill icon-small"></i>
            <b class="text-small">TOP 10</b>
        </button>

        <!-- Sidebar -->
        <div class="mt-3 sidebar">
            <h2 class="text-start mb-2"> Filtros </h2>

            <div id="filters" 
                data-category-id="{{category.id}}" 
                data-sub-category-id="{{subcategory.id}}" 
                data-top-query="{{query}}">
            </div>

            <!-- Search Form Categories -->
            <div class="sidebar-search">
                <form id="search-form" class="form-group">
                    <!-- Datos de las categorias para pasar y filtrar -->
                    <input type="text" id="search-input" class="form-control"
                        placeholder="Search..." oninput="updateProductListFromInput()">
                </form>
            </div>

            <!-- Categories will be inserted here -->
            <div class="mt-2">
                <!-- Top button on side bar -->
                <ul class="sidebar-categories">
                    <li>
                        <a class="sidebar-item justify-start" href="{% url 'product_list' %}">
                            <strong>Todas las Categorias</strong>
                        </a>
                    </li>
            
                    <!-- Cat = Category, sub_cats = Sub Category ; Se pasa del context Processor-->
                    {% for cat, sub_cats in categories_dropmenu.items %}
                    <li>
                        <a class="sidebar-item justify-start" href="{% url 'pl_category' cat.slug %}">
                            <strong>{{ cat.name }}</strong>
                        </a>
                        
                        <!-- Submenú with SubCategories -->
                        {% if sub_cats %}
                        <ul>
                            {% for sub_cat in sub_cats %}
                            <li>
                                <a class="sidebar-item justify-start" href="{% url 'pl_subcategory' cat.slug sub_cat.slug %}">
                                    {{ sub_cat.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <!-- More content ? ¡ -->
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content justify-start">
        <!-- Donde mostramos los resultados de AJAX Request -->
        <div id="search-results" class="w-100 h-100">
            {% include "products/products_list_cards.html" %}
        </div>
    </div>

</div>

{% endblock main_content %}


{% block extra_scripts %}
    <!-- JavaScript for Product Page -->
    <script src="{% static 'products/js/products_utils.js' %}"></script>
    <script src="{% static 'products/js/product_list.js' %}"></script>
{% endblock extra_scripts %}

