


{% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <figure class="product-card" onclick="window.location.href='{% url 'product_detail' product.id product.slug %}'">
            <!-- Imagen del Producto -->
            <div class="image-container">

                <!-- obtenemos la url de la imagen principal -->
                <img src="{{ product.main_image }}" alt="{{ product.name }}">

                <!-- Botón de la esquina -->
                <button class="corner-box">
                    <i class="fas fa-expand-arrows-alt"></i>
                </button>
            </div>

            <!-- Información del Producto -->
            <figcaption class="product-info p-2" onclick="event.stopPropagation();">
                <a href="{% url 'product_detail' product.id product.slug %}">
                    <h6>{{ product.name }}</h6>
                </a>
                
                <div class="row p-0"> 
                    <div class="col-8"> 
                        {% if product.stock > 4 %}
                            <span class="bold-green">Disponible</span>
                        {% elif product.stock > 0 and product.stock < 4 %}
                            <span class="bold-orange">Stock Bajo</span>
                        {% else %}
                            <span class="bold-red">Sin Stock</span>
                        {% endif %}

                        <strong>${{ product.price }}</strong>
                    </div>

                    <div class="col-4"> 
                        <!-- Botón de la corazon -->
                        {% if product.id in favorite_product_ids %}
                            <button class="btn-like liked" data-index="{{product.id}}">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        {% else %}
                            <button class="btn-like" data-index="{{product.id}}">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- Botón de agregar al carrito -->
                <form class="prod-extender-btn" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">

                    <button class="prod-add-button" type="submit">
                        Agregar
                    </button>
                </form>
            </figcaption>
        </figure>

    </div>

{% empty %}
    
    <h1> The queryset is empty, please search again. </h1>

{% endfor %}